@import url("https://fonts.googleapis.com/css2?family=Pontano+Sans:wght@300..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
@import '~node_modules/modern-normalize/modern-normalize.css';
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  overflow-wrap: break-word;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
}

button,
label {
  cursor: pointer;
}

legend {
  display: block;
}

address {
  all: unset;
}

#root,
#__next {
  isolation: isolate;
}

/*

  font-family: "Baskervville", serif;

  font-family: "'Pontano Sans", sans-serif;

*/
html,
body {
  width: 100%;
  height: 100%;
  font-family: var(--font-sans);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  color: var(--light-color);
  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;
  padding-right: 15px;
}

.page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.bg-circles {
  width: clamp(43.75rem, 35.1rem + 43.25vw, 87rem);
  height: clamp(75rem, 73.088rem + 9.56vw, 84.563rem);
  position: absolute;
  top: -27%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  opacity: 0.6;
}
.bg-circles path {
  stroke-dasharray: 6000;
  -webkit-animation: draw 3s linear forwards;
          animation: draw 3s linear forwards;
}
.bg-circles path:nth-child(1) {
  stroke-dashoffset: 10000;
}
.bg-circles path:nth-child(2) {
  stroke-dashoffset: 8000;
}
.bg-circles path:nth-child(3) {
  stroke-dashoffset: 6000;
}

@-webkit-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
.section {
  padding-top: clamp(2.5rem, 1.75rem + 3.75vw, 6.25rem);
  padding-bottom: clamp(2.5rem, 1.75rem + 3.75vw, 6.25rem);
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: clamp(0.938rem, -0.75rem + 8.44vw, 9.375rem);
  padding-right: clamp(0.938rem, -0.75rem + 8.44vw, 9.375rem);
}

:root {
  --index: calc(1vw + 1vh);
  --font-sans: "Pontano Sans", sans-serif;
  --font-serif: "Source Serif 4", serif;
  --light-color: #fff;
  --light-smooth-color: #ebebeb;
  --light-gray-color: #656c7e;
  --opacity-gray-color: #656c7e60;
  --dark-gray-color: #3b3633;
  --light-blue-color: #b5d8d6;
  --light-green-color: #738471;
  --dark-green-color: #37473a;
  --dark-blue-color: #363a45;
  --orange-color: #d7ae9c;
  --orange-smooth-color: #a6857e;
  --light-bg: #ebebeb;
  --dark-bg: #3b3633;
  --gray-dark-bg: #363a45;
  --gray-light-bg: #656c7e;
  --green-dark-bg: #3e4c3d;
  --green-light-bg: #738471;
  --brown-dark-bg: #a6857e;
  --brown-light-bg: #d7ae9c;
  --orange-bg: #f0bb82;
  --blue-bg: #b5d8d6;
  --gray-gradient: linear-gradient(
    0deg,
    rgba(54, 58, 69, 0.96) 0%,
    rgba(54, 58, 69, 0.96) 100%
  );
  --green-gradient: linear-gradient(0deg, #3e4c3d 0%, #3e4c3d 100%);
}

.visually--hidden {
  visibility: hidden;
  height: 0;
}

.header {
  width: 100%;
  margin-top: clamp(1.375rem, 1.15rem + 1.13vw, 2.5rem);
  position: absolute;
  top: 0;
  left: 0;
}

.header__nav-menu {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-image: var(--gray-gradient);
}

.header__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
  fill: var(--light-color);
  stroke: var(--light-color);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (hover: hover) {
  .menu__btn:hover, .menu__btn:focus-visible {
    fill: var(--light-blue-color);
    stroke: var(--light-blue-color);
    color: var(--light-blue-color);
  }
}
.menu__btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.menu__icon {
  display: none;
  width: 24px;
  height: 24px;
  fill: inherit;
  stroke: inherit;
}
.menu__icon.menu-active {
  display: block;
}

.menu__btn-text {
  display: none;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .menu__btn-text {
    display: block;
  }
}

.header__logo--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 12px;
}
@media screen and (min-width: 768px) {
  .header__logo--wrapper {
    margin-right: -100px;
  }
}

.header__logo {
  width: clamp(5rem, 4.167rem + 3.7vw, 7.5rem);
  fill: var(--light-color);
}

.header__logo--text {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__logo--text {
    display: block;
    font-size: 7px;
    font-weight: 600;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    color: var(--light-color);
  }
}

.header__wallet--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 10px 10px;
  background: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media screen and (min-width: 768px) {
  .header__wallet--btn {
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.22);
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(11.2px);
    border: 1px solid rgba(255, 255, 255, 0.308);
  }
}
@media screen and (min-width: 768px) and (hover: hover) {
  .header__wallet--btn:hover, .header__wallet--btn:focus-visible {
    background: var(--green-light-bg);
  }
}
.header__wallet--btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.header__wallet--icon {
  width: 30px;
  height: 30px;
  fill: var(--light-color);
  stroke: var(--light-color);
}
@media screen and (min-width: 768px) {
  .header__wallet--icon {
    display: none;
  }
}

.header__wallet--text {
  display: none;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: var(--light-color);
}
@media screen and (min-width: 768px) {
  .header__wallet--text {
    display: block;
  }
}

.footer {
  width: 100%;
  height: 100px;
}

.hero {
  width: 100%;
  padding: 240px 0 220px 0;
  position: relative;
  background-color: var(--green-dark-bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-image: url("../src/images/backgrounds/hero_bg@mob.webp");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../src/images/backgrounds/hero_bg@mob2x.webp");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url("../src/images/backgrounds/hero_bg@tab.webp");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../src/images/backgrounds/hero_bg@tab2x.webp");
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    background-image: url("../src/images/backgrounds/hero_bg@desk.webp");
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../src/images/backgrounds/hero_bg@desk2x.webp");
  }
}

.test {
  width: var(--index);
  height: var(--index);
  background-color: #ad1b1b;
}

.hero-heading__title {
  text-align: center;
  font-family: var(--font-serif);
  font-size: clamp(3.75rem, 2.794rem + 3.92vw, 7.5rem);
  font-weight: 300;
  line-height: 1;
}
.hero-heading__title .hero-heading__accent {
  font-family: var(--font-sans);
}
.hero-heading__title .hero-heading__italic {
  font-style: italic;
}
@media screen and (min-width: 768px) {
  .hero-heading__title {
    line-height: 1.2;
  }
}

.hero__text {
  width: 280px;
  margin: 24px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: clamp(0.938rem, 0.89rem + 0.2vw, 1.125rem);
  font-weight: 500;
  line-height: 1.4;
}
@media screen and (min-width: 1200px) {
  .hero__text {
    width: 230px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__text--right {
    position: absolute;
    top: 440px;
    right: clamp(6.25rem, -4.167rem + 13.89vw, 12.5rem);
    z-index: 5;
  }
}

.hero__text--left {
  display: none;
}
@media screen and (min-width: 1200px) {
  .hero__text--left {
    display: block;
    position: absolute;
    bottom: 200px;
    left: clamp(7.5rem, -7.083rem + 19.44vw, 16.25rem);
    z-index: 5;
  }
}

.hero__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: clamp(0.875rem, 0.716rem + 0.65vw, 1.5rem);
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: var(--dark-gray-color);
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (hover: hover) {
  .hero__link:hover, .hero__link:focus-visible {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.hero__link:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.hero__link.member {
  width: clamp(6.875rem, 4.645rem + 9.15vw, 15.625rem);
  height: clamp(6.875rem, 4.645rem + 9.15vw, 15.625rem);
  position: absolute;
  top: clamp(5.625rem, 4.191rem + 5.88vw, 11.25rem);
  left: clamp(1.563rem, -2.181rem + 15.36vw, 16.25rem);
  z-index: 10;
  background-color: var(--blue-bg);
  cursor: pointer;
}
.hero__link.whitelist {
  width: clamp(8.75rem, 7.794rem + 3.92vw, 12.5rem);
  height: clamp(8.75rem, 7.794rem + 3.92vw, 12.5rem);
  position: absolute;
  right: clamp(1.563rem, -1.464rem + 12.42vw, 13.438rem);
  bottom: clamp(2.5rem, 0.563rem + 9.69vw, 12.188rem);
  z-index: 10;
  background-color: var(--orange-bg);
}

.hero__bg-circles {
  width: clamp(43.75rem, 35.1rem + 43.25vw, 87rem);
  height: clamp(75rem, 73.088rem + 9.56vw, 84.563rem);
  position: absolute;
  top: -27%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}
.hero__bg-circles path {
  stroke-dasharray: 6000;
  -webkit-animation: draw 3s linear forwards;
          animation: draw 3s linear forwards;
}
.hero__bg-circles path:nth-child(1) {
  stroke-dashoffset: 10000;
}
.hero__bg-circles path:nth-child(2) {
  stroke-dashoffset: 8000;
}
.hero__bg-circles path:nth-child(3) {
  stroke-dashoffset: 6000;
}

@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
.community {
  background-color: var(--green-dark-bg);
  position: relative;
  overflow-x: hidden;
}
@media screen and (min-width: 768px) {
  .community {
    padding-right: 60px;
  }
}

.community__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .community__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.community__content--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px 0;
}
@media screen and (min-width: 768px) {
  .community__content--list {
    gap: clamp(5rem, 10.42vw, 12.5rem) 0;
  }
}

.community__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px 0;
}
@media screen and (min-width: 768px) {
  .community__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0 clamp(3.125rem, -5.208rem + 17.36vw, 15.625rem);
  }
}

@media screen and (min-width: 768px) {
  .community__second-list .second__item-text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .community__second-list .second-item__img {
    width: clamp(21.875rem, 3.542rem + 38.19vw, 49.375rem);
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.first__item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .first__item-text {
    width: clamp(18.75rem, 6.25rem + 26.04vw, 37.5rem);
  }
}
.first__item-text .first__item--title {
  font-family: var(--font-serif);
  font-size: clamp(2.813rem, 1.771rem + 2.17vw, 4.375rem);
  font-weight: 400;
  line-height: 1;
  color: var(--light-smooth-color);
}
.first__item-text .first__item--subtitle {
  margin-left: 50px;
  font-family: var(--font-serif);
  font-size: clamp(3.125rem, 1.458rem + 3.47vw, 5.625rem);
  font-style: italic;
  font-weight: 300;
  line-height: 1;
  color: var(--orange-smooth-color);
}
.first__item-text .first__item--text {
  margin-top: clamp(2.5rem, -2.708rem + 10.85vw, 10.313rem);
  font-size: clamp(1.125rem, 0.542rem + 1.22vw, 2rem);
  line-height: 1.4;
  color: var(--light-smooth-color);
}

.second__item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .second__item-text {
    width: clamp(18.75rem, 6.25rem + 26.04vw, 37.5rem);
  }
}
.second__item-text .second__item--title {
  font-family: var(--font-serif);
  font-size: clamp(2.813rem, 1.771rem + 2.17vw, 4.375rem);
  font-weight: 400;
  line-height: 1;
  color: var(--light-smooth-color);
}
.second__item-text .second__item--subtitle {
  margin-left: 50px;
  font-family: var(--font-serif);
  font-size: clamp(3.125rem, 1.458rem + 3.47vw, 5.625rem);
  font-style: italic;
  font-weight: 300;
  line-height: 1;
  color: var(--orange-smooth-color);
}
.second__item-text .second__item--text {
  font-size: clamp(1.125rem, 0.901rem + 1.12vw, 1.438rem);
  line-height: 1.4;
  color: var(--light-smooth-color);
  padding-left: 40px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .second__item-text .second__item--text {
    font-size: clamp(1.125rem, 0.542rem + 1.22vw, 2rem);
  }
}
.second__item-text .second__item--text::before {
  content: "";
  width: 20px;
  height: 1px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: var(--light-smooth-color);
}
@media screen and (min-width: 768px) {
  .second__item-text .second__item--text::before {
    width: 22px;
  }
}
.second__item-text .item__text--list {
  margin-top: clamp(1.875rem, 1.625rem + 1.25vw, 3.125rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 25px 0;
}

.item__text--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: clamp(1.25rem, 1.125rem + 0.63vw, 1.875rem);
     -moz-column-gap: clamp(1.25rem, 1.125rem + 0.63vw, 1.875rem);
          column-gap: clamp(1.25rem, 1.125rem + 0.63vw, 1.875rem);
}

.first__item--img-wrapper {
  width: clamp(16.875rem, 6.584rem + 51.45vw, 31.25rem);
  height: clamp(16.875rem, 6.584rem + 51.45vw, 31.25rem);
  margin: 0 auto;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50%;
  background-color: var(--green-dark-bg);
}
@media screen and (min-width: 768px) {
  .first__item--img-wrapper {
    width: clamp(16.875rem, 2.292rem + 30.38vw, 38.75rem);
    height: clamp(16.875rem, 2.292rem + 30.38vw, 38.75rem);
  }
}

.img1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-animation: fade 12s linear infinite;
          animation: fade 12s linear infinite;
  will-change: opacity;
}

.img2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-animation: fade2 12s linear infinite;
          animation: fade2 12s linear infinite;
  will-change: opacity;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade2 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.community__decor-text {
  display: none;
  position: absolute;
  top: clamp(20rem, 7.625rem + 25.78vw, 38.563rem);
  left: clamp(26.875rem, -5.208rem + 66.84vw, 75rem);
  font-family: var(--font-serif);
  font-size: clamp(4.375rem, 1.458rem + 6.08vw, 8.75rem);
  font-style: italic;
  font-weight: 300;
  line-height: 1;
  color: var(--light-smooth-color);
  white-space: nowrap;
  opacity: 0.1;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
@media screen and (min-width: 768px) {
  .community__decor-text {
    display: block;
  }
}

.newway {
  width: 100%;
  background-color: var(--light-smooth-color);
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .newway {
    height: clamp(42.5rem, 33.333rem + 19.1vw, 56.25rem);
  }
}

.newway__heading-title {
  text-align: center;
  font-family: var(--font-serif);
  font-size: 45px;
  font-weight: 400;
  line-height: 1;
  color: var(--dark-green-color);
}
.newway__heading-title .italic-style {
  font-style: italic;
  font-weight: 300;
}
.newway__heading-title .sans-style {
  font-family: var(--font-sans);
  font-size: 36px;
  font-weight: 400;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .newway__heading-title .sans-style {
    font-size: clamp(1.875rem, 1.042rem + 1.74vw, 3.125rem);
  }
}
@media screen and (min-width: 768px) {
  .newway__heading-title {
    position: absolute;
    top: clamp(3.75rem, 1.25rem + 5.21vw, 7.5rem);
    left: clamp(2.5rem, -0.417rem + 6.08vw, 6.875rem);
    z-index: 10;
    font-size: clamp(2.5rem, 1.25rem + 2.6vw, 4.375rem);
  }
}

.newway__content--wrapper {
  position: relative;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .newway__content--wrapper {
    margin-top: 0;
    position: static;
  }
}

.newway__texts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
}
.newway__texts-block .texts-block__text {
  width: 200px;
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  line-height: 1.4;
  color: var(--dark-green-color);
}
@media screen and (min-width: 768px) {
  .newway__texts-block .texts-block__text {
    width: 250px;
  }
}

.newway__block-title--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.newway__block-title--list .block-title__item > h3 {
  font-size: 20px;
  font-weight: 500;
  color: var(--dark-green-color);
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .newway__block-title--list .block-title__item > h3 {
    font-size: clamp(1.25rem, 1rem + 0.52vw, 1.625rem);
  }
}
.newway__block-title--list .newway__block-title--img {
  width: clamp(1.875rem, 1.696rem + 0.89vw, 2.125rem);
  height: clamp(1.875rem, 1.696rem + 0.89vw, 2.125rem);
}
@media screen and (min-width: 768px) {
  .newway__block-title--list .newway__block-title--img {
    width: clamp(1.875rem, 1.708rem + 0.35vw, 2.125rem);
    height: clamp(1.875rem, 1.708rem + 0.35vw, 2.125rem);
  }
}

.newway__img {
  width: 180px;
  height: 180px;
  position: absolute;
  top: 150px;
  left: 50%;
  z-index: 10;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.newway__logo {
  width: 150px;
  display: block;
  margin: 420px auto 0 auto;
  fill: var(--dark-blue-color);
}
@media screen and (min-width: 768px) {
  .newway__logo {
    width: 230px;
    margin: clamp(15.625rem, 11.042rem + 9.55vw, 22.5rem) auto 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .first-img {
    -webkit-animation: opacity1 24s linear infinite;
            animation: opacity1 24s linear infinite;
    will-change: opacity;
  }
}
@media screen and (min-width: 768px) {
  .first-img {
    width: clamp(11.25rem, 3.75rem + 15.63vw, 22.5rem);
    height: clamp(11.25rem, 3.75rem + 15.63vw, 22.5rem);
    top: 120px;
    left: clamp(40.625rem, -1.875rem + 88.54vw, 104.375rem);
  }
}

@media screen and (max-width: 767px) {
  .second-img {
    -webkit-animation: opacity2 24s linear infinite;
            animation: opacity2 24s linear infinite;
    will-change: opacity;
  }
}
@media screen and (min-width: 768px) {
  .second-img {
    width: clamp(7.813rem, 3.021rem + 9.98vw, 15rem);
    height: clamp(7.813rem, 3.021rem + 9.98vw, 15rem);
    top: 400px;
    left: clamp(9.375rem, 3.333rem + 12.59vw, 18.438rem);
  }
}

@media screen and (max-width: 767px) {
  .third-img {
    -webkit-animation: opacity3 24s linear infinite;
            animation: opacity3 24s linear infinite;
    will-change: opacity;
  }
}
@media screen and (min-width: 768px) {
  .third-img {
    width: clamp(5rem, 2.083rem + 6.08vw, 9.375rem);
    height: clamp(5rem, 2.083rem + 6.08vw, 9.375rem);
    top: clamp(20rem, 14.167rem + 12.15vw, 28.75rem);
    left: clamp(36.875rem, -0.208rem + 77.26vw, 92.5rem);
  }
}

@media screen and (max-width: 767px) {
  .first-block {
    -webkit-animation: opacity1 24s linear infinite;
            animation: opacity1 24s linear infinite;
    will-change: opacity;
  }
}
@media screen and (min-width: 768px) {
  .first-block {
    width: 150px;
    height: 150px;
    top: clamp(2rem, -1.292rem + 6.86vw, 6.938rem);
    left: clamp(26.25rem, 3.625rem + 47.14vw, 60.188rem);
  }
}

@media screen and (max-width: 767px) {
  .second-block {
    -webkit-animation: opacity2 24s linear infinite;
            animation: opacity2 24s linear infinite;
    will-change: opacity;
  }
}
@media screen and (min-width: 768px) {
  .second-block {
    width: 150px;
    height: 150px;
    top: clamp(31.25rem, 24.083rem + 14.93vw, 42rem);
    left: clamp(16.25rem, 6.25rem + 20.83vw, 31.25rem);
  }
}

@media screen and (max-width: 767px) {
  .third-block {
    -webkit-animation: opacity3 24s linear infinite;
            animation: opacity3 24s linear infinite;
    will-change: opacity;
  }
}
@media screen and (min-width: 768px) {
  .third-block {
    width: 150px;
    height: 150px;
    top: clamp(25.875rem, 15.125rem + 22.4vw, 42rem);
    left: clamp(38.125rem, 5.208rem + 68.58vw, 87.5rem);
  }
}

@-webkit-keyframes opacity1 {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity1 {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes opacity2 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opacity2 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes opacity3 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opacity3 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.future {
  width: 100%;
  height: clamp(38.75rem, 35.25rem + 17.5vw, 56.25rem);
  position: relative;
  background-color: var(--gray-dark-bg);
  overflow: hidden;
}

.future__title {
  padding-top: clamp(3.75rem, 3.25rem + 2.5vw, 6.25rem);
  font-family: var(--font-serif);
  font-size: clamp(3rem, 2.1rem + 4.5vw, 7.5rem);
  font-weight: 300;
}
.future__title span {
  margin-top: 5px;
  padding-left: 20px;
  font-style: italic;
}
.future__title.mob-vers {
  display: block;
}
@media screen and (min-width: 768px) {
  .future__title.mob-vers {
    display: none;
  }
}
.future__title.desk-vers {
  display: none;
}
@media screen and (min-width: 768px) {
  .future__title.desk-vers {
    display: block;
  }
}

.future__text {
  width: clamp(18.75rem, 17.375rem + 6.88vw, 25.625rem);
  margin-top: 30px;
  margin-left: clamp(1.875rem, -11.875rem + 68.75vw, 70.625rem);
  padding-right: 20px;
  font-size: clamp(1rem, 0.875rem + 0.63vw, 1.625rem);
  line-height: 1.4;
}

.future__img1 {
  width: clamp(4.375rem, 3rem + 6.88vw, 11.25rem);
  position: absolute;
  bottom: clamp(31.563rem, 30.313rem + 6.25vw, 37.813rem);
  right: clamp(3.125rem, 0.75rem + 11.88vw, 15rem);
}

.future__img2 {
  width: clamp(6.875rem, 6.25rem + 3.13vw, 10rem);
  position: absolute;
  bottom: clamp(3.75rem, 3.125rem + 3.13vw, 6.875rem);
  left: clamp(3.438rem, -1.625rem + 25.31vw, 28.75rem);
}

.pillars__wrapper {
  width: 100%;
}

.pillars__content--list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px 0;
  color: var(--dark-blue-color);
}
@media screen and (min-width: 768px) {
  .pillars__content--list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0 clamp(1.25rem, -0.417rem + 3.47vw, 3.75rem);
  }
}

.pillars__title {
  font-family: var(--font-serif);
  font-size: clamp(3.375rem, 0.625rem + 5.73vw, 7.5rem);
  font-style: italic;
  font-weight: 300;
  color: inherit;
}
.pillars__title span {
  font-style: normal;
}

.pillars__content--item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px 0;
}
@media screen and (min-width: 580px) {
  .pillars__content--item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0 20px;
  }
}
@media screen and (min-width: 768px) {
  .pillars__content--item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px 0;
  }
}

.pillars__item--img,
.pillars__item-text--wrapper {
  margin: 0 auto;
  max-width: 360px;
}
@media screen and (min-width: 580px) {
  .pillars__item--img,
  .pillars__item-text--wrapper {
    -ms-flex-preferred-size: calc((100% - clamp(1.25rem, -0.417rem + 3.47vw, 3.75rem)) / 2);
        flex-basis: calc((100% - clamp(1.25rem, -0.417rem + 3.47vw, 3.75rem)) / 2);
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}
@media screen and (min-width: 768px) {
  .pillars__item--img,
  .pillars__item-text--wrapper {
    -ms-flex-preferred-size: calc((100% - clamp(1.25rem, -0.417rem + 3.47vw, 3.75rem)) / 4);
        flex-basis: calc((100% - clamp(1.25rem, -0.417rem + 3.47vw, 3.75rem)) / 4);
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.pillars__item--title {
  font-family: var(--font-serif);
  font-size: 36px;
  font-weight: 300;
  color: inherit;
}
@media screen and (min-width: 768px) {
  .pillars__item--title {
    font-size: 24px;
  }
}

@media screen and (min-width: 580px) {
  .heal-text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media screen and (min-width: 768px) {
  .heal-text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media screen and (min-width: 580px) {
  .heal-img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media screen and (min-width: 768px) {
  .heal-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.pillars__item-text {
  margin-top: 10px;
  font-size: 17px;
  line-height: 1.4;
  color: inherit;
}
@media screen and (min-width: 768px) {
  .pillars__item-text {
    font-size: 16px;
  }
}

.international {
  width: 100%;
  position: relative;
  background: url("../src/images/backgrounds/circles-group.svg"), var(--green-gradient);
  background-size: clamp(28.125rem, 3.125rem + 52.08vw, 65.625rem), 100%;
  background-repeat: no-repeat;
  background-position: right bottom;
  overflow: hidden;
}

.international__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px 0;
}
@media screen and (min-width: 768px) {
  .international__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 0 clamp(3.125rem, -7.292rem + 21.7vw, 18.75rem);
  }
}

.international__collection--wrapper {
  width: 100%;
  height: clamp(23.125rem, 10.625rem + 26.04vw, 41.875rem);
  padding-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px 0;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  background: url("../src/images/backgrounds/green-big-circle@1x.webp"), url("../src/images/backgrounds/green-small-circle@1x.webp");
  background-size: clamp(13.75rem, 4.583rem + 19.1vw, 27.5rem), clamp(9.375rem, 3.125rem + 13.02vw, 18.75rem);
  background-repeat: no-repeat, no-repeat;
  background-position: 90% 0, 15% 100%;
}
@media screen and (min-width: 768px) {
  .international__collection--wrapper {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 0;
    gap: clamp(3.438rem, 0.729rem + 5.64vw, 7.5rem) 0;
  }
}

.international__collection--filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 25px;
}

.collection__filter--btn {
  font-family: var(--font-serif);
  font-size: clamp(1.25rem, 0.534rem + 3.58vw, 2.25rem);
  color: var(--light-smooth-color);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (hover: hover) {
  .collection__filter--btn:hover, .collection__filter--btn:focus-visible {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}
.collection__filter--btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.collection__filter--btn.active {
  text-decoration: underline;
  color: var(--orange-color);
}
@media screen and (min-width: 768px) {
  .collection__filter--btn {
    padding-top: 5px;
    font-size: clamp(1.125rem, 0.375rem + 1.56vw, 2.25rem);
  }
}

.collection__filter--img {
  display: none;
  width: clamp(21.25rem, 15.433rem + 29.08vw, 29.375rem);
  height: clamp(8.438rem, 4.634rem + 19.02vw, 13.75rem);
}
.collection__filter--img.nft-img {
  width: clamp(17.5rem, 14.055rem + 17.23vw, 22.313rem);
  margin-right: -80px;
}
@media screen and (min-width: 768px) {
  .collection__filter--img.nft-img {
    width: clamp(28.438rem, 20.729rem + 16.06vw, 40rem);
  }
}
.collection__filter--img.visible {
  display: block;
}
@media screen and (min-width: 768px) {
  .collection__filter--img {
    width: clamp(18.75rem, 4.667rem + 29.34vw, 39.875rem);
  }
}

.international__text--list {
  margin-top: clamp(0rem, -2.679rem + 13.39vw, 3.75rem);
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
@media screen and (min-width: 768px) {
  .international__text--list {
    margin-top: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.international__item--subtitle {
  position: absolute;
  top: 50px;
  left: clamp(1.563rem, 0.444rem + 5.59vw, 3.125rem);
  font-family: var(--font-serif);
  font-size: 36px;
  font-weight: 300;
  color: var(--light-green-color);
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.international__item--subtitle span {
  font-style: italic;
}
@media screen and (min-width: 768px) {
  .international__item--subtitle {
    position: static;
    margin-bottom: clamp(3.125rem, 0.208rem + 6.08vw, 7.5rem);
    font-size: clamp(1.875rem, 1.042rem + 1.74vw, 3.125rem);
  }
}

.international__item--title {
  font-family: --font-serif;
  font-size: clamp(3.125rem, 2.678rem + 2.24vw, 3.75rem);
  font-weight: 300;
}
.international__item--title span {
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .international__item--title {
    font-size: clamp(3.125rem, 1.458rem + 3.47vw, 5.625rem);
  }
}

.international__item--price {
  margin-top: 30px;
  font-size: clamp(1.5rem, 0.963rem + 2.68vw, 2.25rem);
  line-height: 1.2;
  color: var(--orange-color);
}
@media screen and (min-width: 768px) {
  .international__item--price {
    font-size: clamp(1.563rem, 0.521rem + 2.17vw, 3.125rem);
  }
}

.international__item--info {
  margin-top: 40px;
  font-family: var(--font-serif);
  font-size: clamp(0.75rem, 0.482rem + 1.34vw, 1.125rem);
  line-height: 1.4;
  color: var(--light-green-color);
}
@media screen and (min-width: 768px) {
  .international__item--info {
    margin-top: clamp(4.688rem, 1.562rem + 6.51vw, 9.375rem);
    font-size: clamp(0.938rem, 0.813rem + 0.26vw, 1.125rem);
  }
}

.international__item--date {
  margin-top: 10px;
  font-size: clamp(1.25rem, 0.534rem + 3.58vw, 2.25rem);
  font-style: italic;
  font-weight: 300;
  color: var(--orange-color);
}
@media screen and (min-width: 768px) {
  .international__item--date {
    max-width: 220px;
    font-size: clamp(1.563rem, 0.521rem + 2.17vw, 3.125rem);
  }
}

.international__btn {
  width: clamp(6.25rem, 5rem + 6.25vw, 12.5rem);
  height: clamp(6.25rem, 5rem + 6.25vw, 12.5rem);
  padding: 30px;
  position: absolute;
  top: 400px;
  left: clamp(13.125rem, -2.5rem + 78.13vw, 35rem);
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: clamp(0.75rem, 0.625rem + 0.63vw, 1.375rem);
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: var(--dark-gray-color);
  border-radius: 50%;
  background-color: var(--orange-bg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (hover: hover) {
  .international__btn:hover, .international__btn:focus-visible {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.international__btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
@media screen and (min-width: 768px) {
  .international__btn {
    top: clamp(16.25rem, 6.667rem + 19.97vw, 30.625rem);
    left: clamp(15rem, 4.167rem + 22.57vw, 31.25rem);
  }
}/*# sourceMappingURL=index.css.map */