@import '~node_modules/modern-normalize/modern-normalize.css';

/*

  font-family: "Baskervville", serif;

  font-family: "'Pontano Sans", sans-serif;

*/

html,
body {
  width: 100%;
  height: 100%;

  font-family: var(--font-sans);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  color: var(--light-color);

  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;

  padding-right: 15px;
}

.page__wrapper {
  display: flex;
  flex-direction: column;

  min-height: 100%;
}

.main {
  flex-grow: 1;
}

// =============== Background Circles ================
.bg-circles {
  width: clamp(43.75rem, 35.1rem + 43.25vw, 87rem);
  height: clamp(75rem, 73.088rem + 9.56vw, 84.563rem);

  position: absolute;
  top: -27%;
  left: 50%;
  transform: translateX(-50%);

  z-index: 1;

  opacity: 0.6;

  & path {
    stroke-dasharray: 6000;

    animation: draw 3s linear forwards;

    &:nth-child(1) {
      stroke-dashoffset: 10000;
    }
    &:nth-child(2) {
      stroke-dashoffset: 8000;
    }
    &:nth-child(3) {
      stroke-dashoffset: 6000;
    }
  }
}

@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
