:root {
  // --------- Fonts ---------
  --font-sans: 'Open Sans', sans-serif;
  --font-noto: 'Noto Serif Display', serif;

  // ---------- Colors ----------
  --light-color: #fff;
  --light-smooth-color: #ebebeb;
  --light-gray-color: #656c7e;
  --light-blue-color: #b5d8d6;
  --light-green-color: #738471;
  --dark-color: #3b3633;
  --dark-green-color: #37473a;
  --dark-blue-color: #363a45;
  --orange-color: #d7ae9c;
  --orange-smooth-color: #a6857e;

  // ---------- Backgrounds Color ----------
  --light-bg: #ebebeb;
  --dark-bg: #3b3633;
  --gray-dark-bg: #363a45;
  --gray-light-bg: #656c7e;
  --green-dark-bg: #3e4c3d;
  --green-light-bg: #738471;
  --brown-dark-bg: #a6857e;
  --brown-light-bg: #d7ae9c;
  --orange-bg: #f0bb82;
  --blue-bg: #b5d8d6;

  //  --------------- Gradients ---------------
  --gray-gradient: linear-gradient(
    0deg,
    rgba(54, 58, 69, 0.96) 0%,
    rgba(54, 58, 69, 0.96) 100%
  );
}
