:root {
  // --------- Index ---------
  --index: calc(1vw + 1vh); // 28.86px (1920px)

  // --------- Fonts ---------
  --font-sans: 'Pontano Sans', sans-serif;
  --font-serif: 'Source Serif 4', serif;

  // ---------- Colors ----------
  --light-color: #fff;
  --opacity-light-color: #ffffff88;
  --light-smooth-color: #ebebeb;
  --light-gray-color: #656c7e;
  --opacity-gray-color: #656c7e60;
  --dark-gray-color: #3b3633;
  --light-blue-color: #b5d8d6;
  --light-green-color: #738471;
  --dark-green-color: #37473a;
  --dark-blue-color: #363a45;
  --orange-color: #d7ae9c;
  --orange-smooth-color: #a6857e;

  // ---------- Backgrounds Color ----------
  --light-bg: #ebebeb;
  --opacity-light-bg: #ffffff10;
  --opacity-btnHover-bg: #ffffff42;
  --opacity-socials-bg: #ffffff38;
  --opacity-socialsHover-bg: #ffffff73;
  --dark-bg: #3b3633;
  --gray-dark-bg: #363a45;
  --gray-light-bg: #656c7e;
  --green-dark-bg: #3e4c3d;
  --green-light-bg: #738471;
  --brown-dark-bg: #a6857e;
  --brown-light-bg: #d7ae9c;
  --orange-bg: #f0bb82;
  --blue-bg: #b5d8d6;

  //  --------------- Gradients ---------------
  --gray-gradient: linear-gradient(
    0deg,
    rgba(54, 58, 69, 0.96) 0%,
    rgba(54, 58, 69, 0.96) 100%
  );
  --green-gradient: linear-gradient(0deg, #3e4c3d 0%, #3e4c3d 100%);
}
