<div class="backdrop is-hidden">
  <div class="modal">
    <div class="modal__logo">
      <svg width="56" height="40" class="modal__logo-icon">
        <use href="./icons/sprite.svg#logo"></use>
      </svg>
    </div>
    <div class="modal__content">
      <p class="modal__content-text">This is a website prototype</p>
      <p class="modal__content-text">Some features do not work</p>
    </div>
    <button class="modal__close">
      <svg width="20" height="20" class="modal__close--icon">
        <use href="./icons/sprite.svg#menu-close"></use>
      </svg>
    </button>
  </div>
</div>
