<section class="section carousel" data-observer-target data-carousel>
  <h2 class="visually--hidden">Carousel</h2>

  <!-- Images List 1 -->
  <div class="carousel__scroll" style="--t: 50s">
    <div class="carousel__content">
      <picture class="carousel__img img-1">
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img1_1@0.75x.webp 1x,
            ./images/carousel/img1_1@1x.webp    2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img1_1@0.75x.jpg 1x,
            ./images/carousel/img1_1@1x.jpg    2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img1_1@1x.webp   1x,
            ./images/carousel/img1_1@1.5x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img1_1@1x.jpg   1x,
            ./images/carousel/img1_1@1.5x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img1_1@1.5x.webp 1x,
            ./images/carousel/img1_1@2x.webp   2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img1_1@1.5x.jpg 1x,
            ./images/carousel/img1_1@2x.jpg   2x
          "
          type="image/jpg"
        />
        <img
          src="./images/carousel/img1_1@1x.jpg"
          alt="women in forest"
          width="360"
          height="366"
        />
      </picture>
      <picture class="carousel__img img-2">
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img1_2@0.75x.webp 1x,
            ./images/carousel/img1_2@1x.webp    2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img1_2@0.75x.jpg 1x,
            ./images/carousel/img1_2@1x.jpg    2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img1_2@1x.webp   1x,
            ./images/carousel/img1_2@1.5x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img1_2@1x.jpg   1x,
            ./images/carousel/img1_2@1.5x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img1_2@1.5x.webp 1x,
            ./images/carousel/img1_2@2x.webp   2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img1_2@1.5x.jpg 1x,
            ./images/carousel/img1_2@2x.jpg   2x
          "
          type="image/jpg"
        />
        <img
          src="./images/carousel/img1_2@1x.jpg"
          alt="women in pool"
          width="780"
          height="366"
        />
      </picture>
      <picture class="carousel__img img-3">
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img1_3@0.75x.webp 1x,
            ./images/carousel/img1_3@1x.webp    2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img1_3@0.75x.jpg 1x,
            ./images/carousel/img1_3@1x.jpg    2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img1_3@1x.webp   1x,
            ./images/carousel/img1_3@1.5x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img1_3@1x.jpg   1x,
            ./images/carousel/img1_3@1.5x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img1_3@1.5x.webp 1x,
            ./images/carousel/img1_3@2x.webp   2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img1_3@1.5x.jpg 1x,
            ./images/carousel/img1_3@2x.jpg   2x
          "
          type="image/jpg"
        />
        <img
          src="./images/carousel/img1_3@1x.jpg"
          alt="forest"
          width="360"
          height="366"
        />
      </picture>
      <picture class="carousel__img img-4">
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img1_4@0.75x.webp 1x,
            ./images/carousel/img1_4@1x.webp    2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img1_4@0.75x.jpg 1x,
            ./images/carousel/img1_4@1x.jpg    2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img1_4@1x.webp   1x,
            ./images/carousel/img1_4@1.5x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img1_4@1x.jpg   1x,
            ./images/carousel/img1_4@1.5x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img1_4@1.5x.webp 1x,
            ./images/carousel/img1_4@2x.webp   2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img1_4@1.5x.jpg 1x,
            ./images/carousel/img1_4@2x.jpg   2x
          "
          type="image/jpg"
        />
        <img
          src="./images/carousel/img1_4@1x.jpg"
          alt="forest"
          width="770"
          height="366"
        />
      </picture>
    </div>
    <div class="carousel__content">
      <picture class="carousel__img img-1">
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img1_1@0.75x.webp 1x,
            ./images/carousel/img1_1@1x.webp    2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img1_1@0.75x.jpg 1x,
            ./images/carousel/img1_1@1x.jpg    2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img1_1@1x.webp   1x,
            ./images/carousel/img1_1@1.5x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img1_1@1x.jpg   1x,
            ./images/carousel/img1_1@1.5x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img1_1@1.5x.webp 1x,
            ./images/carousel/img1_1@2x.webp   2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img1_1@1.5x.jpg 1x,
            ./images/carousel/img1_1@2x.jpg   2x
          "
          type="image/jpg"
        />
        <img
          src="./images/carousel/img1_1@1x.jpg"
          alt="women in forest"
          width="360"
          height="366"
        />
      </picture>
      <picture class="carousel__img img-2">
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img1_2@0.75x.webp 1x,
            ./images/carousel/img1_2@1x.webp    2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img1_2@0.75x.jpg 1x,
            ./images/carousel/img1_2@1x.jpg    2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img1_2@1x.webp   1x,
            ./images/carousel/img1_2@1.5x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img1_2@1x.jpg   1x,
            ./images/carousel/img1_2@1.5x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img1_2@1.5x.webp 1x,
            ./images/carousel/img1_2@2x.webp   2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img1_2@1.5x.jpg 1x,
            ./images/carousel/img1_2@2x.jpg   2x
          "
          type="image/jpg"
        />
        <img
          src="./images/carousel/img1_2@1x.jpg"
          alt="women in pool"
          width="780"
          height="366"
        />
      </picture>
      <picture class="carousel__img img-3">
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img1_3@0.75x.webp 1x,
            ./images/carousel/img1_3@1x.webp    2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img1_3@0.75x.jpg 1x,
            ./images/carousel/img1_3@1x.jpg    2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img1_3@1x.webp   1x,
            ./images/carousel/img1_3@1.5x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img1_3@1x.jpg   1x,
            ./images/carousel/img1_3@1.5x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img1_3@1.5x.webp 1x,
            ./images/carousel/img1_3@2x.webp   2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img1_3@1.5x.jpg 1x,
            ./images/carousel/img1_3@2x.jpg   2x
          "
          type="image/jpg"
        />
        <img
          src="./images/carousel/img1_3@1x.jpg"
          alt="forest"
          width="360"
          height="366"
        />
      </picture>
      <picture class="carousel__img img-4">
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img1_4@0.75x.webp 1x,
            ./images/carousel/img1_4@1x.webp    2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img1_4@0.75x.jpg 1x,
            ./images/carousel/img1_4@1x.jpg    2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img1_4@1x.webp   1x,
            ./images/carousel/img1_4@1.5x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img1_4@1x.jpg   1x,
            ./images/carousel/img1_4@1.5x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img1_4@1.5x.webp 1x,
            ./images/carousel/img1_4@2x.webp   2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img1_4@1.5x.jpg 1x,
            ./images/carousel/img1_4@2x.jpg   2x
          "
          type="image/jpg"
        />
        <img
          src="./images/carousel/img1_4@1x.jpg"
          alt="forest"
          width="770"
          height="366"
        />
      </picture>
    </div>
  </div>

  <!-- Images List 2 -->
  <div class="carousel__scroll" style="--t: 60s">
    <div class="carousel__content">
      <picture class="carousel__img img-5">
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img2_1@0.75x.webp 1x,
            ./images/carousel/img2_1@1x.webp    2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img2_1@0.75x.jpg 1x,
            ./images/carousel/img2_1@1x.jpg    2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img2_1@1x.webp   1x,
            ./images/carousel/img2_1@1.5x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img2_1@1x.jpg   1x,
            ./images/carousel/img2_1@1.5x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img2_1@1.5x.webp 1x,
            ./images/carousel/img2_1@2x.webp   2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img2_1@1.5x.jpg 1x,
            ./images/carousel/img2_1@2x.jpg   2x
          "
          type="image/jpg"
        />
        <img
          src="./images/carousel/img2_1@1x.jpg"
          alt="forest"
          width="500"
          height="366"
        />
      </picture>
      <picture class="carousel__img img-6">
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img2_2@0.75x.webp 1x,
            ./images/carousel/img2_2@1x.webp    2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img2_2@0.75x.jpg 1x,
            ./images/carousel/img2_2@1x.jpg    2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img2_2@1x.webp   1x,
            ./images/carousel/img2_2@1.5x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img2_2@1x.jpg   1x,
            ./images/carousel/img2_2@1.5x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img2_2@1.5x.webp 1x,
            ./images/carousel/img2_2@2x.webp   2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img2_2@1.5x.jpg 1x,
            ./images/carousel/img2_2@2x.jpg   2x
          "
          type="image/jpg"
        />
        <img
          src="./images/carousel/img2_2@1x.jpg"
          alt="coast"
          width="366"
          height="366"
        />
      </picture>
      <picture class="carousel__img img-7">
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img2_3@0.75x.webp 1x,
            ./images/carousel/img2_3@1x.webp    2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img2_3@0.75x.jpg 1x,
            ./images/carousel/img2_3@1x.jpg    2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img2_3@1x.webp   1x,
            ./images/carousel/img2_3@1.5x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img2_3@1x.jpg   1x,
            ./images/carousel/img2_3@1.5x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img2_3@1.5x.webp 1x,
            ./images/carousel/img2_3@2x.webp   2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img2_3@1.5x.jpg 1x,
            ./images/carousel/img2_3@2x.jpg   2x
          "
          type="image/jpg"
        />
        <img
          src="./images/carousel/img2_3@1x.jpg"
          alt="waves"
          width="650"
          height="366"
        />
      </picture>
      <picture class="carousel__img img-8">
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img2_4@0.75x.webp 1x,
            ./images/carousel/img2_4@1x.webp    2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img2_4@0.75x.jpg 1x,
            ./images/carousel/img2_4@1x.jpg    2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img2_4@1x.webp   1x,
            ./images/carousel/img2_4@1.5x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img2_4@1x.jpg   1x,
            ./images/carousel/img2_4@1.5x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img2_4@1.5x.webp 1x,
            ./images/carousel/img2_4@2x.webp   2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img2_4@1.5x.jpg 1x,
            ./images/carousel/img2_4@2x.jpg   2x
          "
          type="image/jpg"
        />
        <img
          src="./images/carousel/img2_4@1x.jpg"
          alt="forest"
          width="770"
          height="366"
        />
      </picture>
    </div>
    <div class="carousel__content">
      <picture class="carousel__img img-5">
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img2_1@0.75x.webp 1x,
            ./images/carousel/img2_1@1x.webp    2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img2_1@0.75x.jpg 1x,
            ./images/carousel/img2_1@1x.jpg    2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img2_1@1x.webp   1x,
            ./images/carousel/img2_1@1.5x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img2_1@1x.jpg   1x,
            ./images/carousel/img2_1@1.5x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img2_1@1.5x.webp 1x,
            ./images/carousel/img2_1@2x.webp   2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img2_1@1.5x.jpg 1x,
            ./images/carousel/img2_1@2x.jpg   2x
          "
          type="image/jpg"
        />
        <img
          src="./images/carousel/img2_1@1x.jpg"
          alt="forest"
          width="500"
          height="366"
        />
      </picture>
      <picture class="carousel__img img-6">
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img2_2@0.75x.webp 1x,
            ./images/carousel/img2_2@1x.webp    2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img2_2@0.75x.jpg 1x,
            ./images/carousel/img2_2@1x.jpg    2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img2_2@1x.webp   1x,
            ./images/carousel/img2_2@1.5x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img2_2@1x.jpg   1x,
            ./images/carousel/img2_2@1.5x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img2_2@1.5x.webp 1x,
            ./images/carousel/img2_2@2x.webp   2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img2_2@1.5x.jpg 1x,
            ./images/carousel/img2_2@2x.jpg   2x
          "
          type="image/jpg"
        />
        <img
          src="./images/carousel/img2_2@1x.jpg"
          alt="coast"
          width="366"
          height="366"
        />
      </picture>
      <picture class="carousel__img img-7">
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img2_3@0.75x.webp 1x,
            ./images/carousel/img2_3@1x.webp    2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img2_3@0.75x.jpg 1x,
            ./images/carousel/img2_3@1x.jpg    2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img2_3@1x.webp   1x,
            ./images/carousel/img2_3@1.5x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img2_3@1x.jpg   1x,
            ./images/carousel/img2_3@1.5x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img2_3@1.5x.webp 1x,
            ./images/carousel/img2_3@2x.webp   2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img2_3@1.5x.jpg 1x,
            ./images/carousel/img2_3@2x.jpg   2x
          "
          type="image/jpg"
        />
        <img
          src="./images/carousel/img2_3@1x.jpg"
          alt="waves"
          width="650"
          height="366"
        />
      </picture>
      <picture class="carousel__img img-8">
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img2_4@0.75x.webp 1x,
            ./images/carousel/img2_4@1x.webp    2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img2_4@0.75x.jpg 1x,
            ./images/carousel/img2_4@1x.jpg    2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img2_4@1x.webp   1x,
            ./images/carousel/img2_4@1.5x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img2_4@1x.jpg   1x,
            ./images/carousel/img2_4@1.5x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img2_4@1.5x.webp 1x,
            ./images/carousel/img2_4@2x.webp   2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img2_4@1.5x.jpg 1x,
            ./images/carousel/img2_4@2x.jpg   2x
          "
          type="image/jpg"
        />
        <img
          src="./images/carousel/img2_4@1x.jpg"
          alt="forest"
          width="770"
          height="366"
        />
      </picture>
    </div>
  </div>

  <!-- Images List 3 -->
  <div class="carousel__scroll" style="--t: 40s">
    <div class="carousel__content">
      <picture class="carousel__img img-9">
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img3_1@0.75x.webp 1x,
            ./images/carousel/img3_1@1x.webp    2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img3_1@0.75x.jpg 1x,
            ./images/carousel/img3_1@1x.jpg    2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img3_1@1x.webp   1x,
            ./images/carousel/img3_1@1.5x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img3_1@1x.jpg   1x,
            ./images/carousel/img3_1@1.5x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img3_1@1.5x.webp 1x,
            ./images/carousel/img3_1@2x.webp   2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img3_1@1.5x.jpg 1x,
            ./images/carousel/img3_1@2x.jpg   2x
          "
          type="image/jpg"
        />
        <img
          src="./images/carousel/img3_1@1x.jpg"
          alt="woman with pineapples"
          width="360"
          height="366"
        />
      </picture>
      <picture class="carousel__img img-10">
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img3_2@0.75x.webp 1x,
            ./images/carousel/img3_2@1x.webp    2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img3_2@0.75x.jpg 1x,
            ./images/carousel/img3_2@1x.jpg    2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img3_2@1x.webp   1x,
            ./images/carousel/img3_2@1.5x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img3_2@1x.jpg   1x,
            ./images/carousel/img3_2@1.5x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img3_2@1.5x.webp 1x,
            ./images/carousel/img3_2@2x.webp   2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img3_2@1.5x.jpg 1x,
            ./images/carousel/img3_2@2x.jpg   2x
          "
          type="image/jpg"
        />
        <img
          src="./images/carousel/img3_2@1x.jpg"
          alt="man and woman"
          width="640"
          height="366"
        />
      </picture>
      <picture class="carousel__img img-11">
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img3_3@0.75x.webp 1x,
            ./images/carousel/img3_3@1x.webp    2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img3_3@0.75x.jpg 1x,
            ./images/carousel/img3_3@1x.jpg    2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img3_3@1x.webp   1x,
            ./images/carousel/img3_3@1.5x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img3_3@1x.jpg   1x,
            ./images/carousel/img3_3@1.5x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img3_3@1.5x.webp 1x,
            ./images/carousel/img3_3@2x.webp   2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img3_3@1.5x.jpg 1x,
            ./images/carousel/img3_3@2x.jpg   2x
          "
          type="image/jpg"
        />
        <img
          src="./images/carousel/img3_3@1x.jpg"
          alt="berries"
          width="500"
          height="366"
        />
      </picture>
      <picture class="carousel__img img-12">
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img3_4@0.75x.webp 1x,
            ./images/carousel/img3_4@1x.webp    2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img3_4@0.75x.jpg 1x,
            ./images/carousel/img3_4@1x.jpg    2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img3_4@1x.webp   1x,
            ./images/carousel/img3_4@1.5x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img3_4@1x.jpg   1x,
            ./images/carousel/img3_4@1.5x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img3_4@1.5x.webp 1x,
            ./images/carousel/img3_4@2x.webp   2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img3_4@1.5x.jpg 1x,
            ./images/carousel/img3_4@2x.jpg   2x
          "
          type="image/jpg"
        />
        <img
          src="./images/carousel/img3_4@1x.jpg"
          alt="forest"
          width="300"
          height="366"
        />
      </picture>
    </div>
    <div class="carousel__content">
      <picture class="carousel__img img-9">
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img3_1@0.75x.webp 1x,
            ./images/carousel/img3_1@1x.webp    2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img3_1@0.75x.jpg 1x,
            ./images/carousel/img3_1@1x.jpg    2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img3_1@1x.webp   1x,
            ./images/carousel/img3_1@1.5x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img3_1@1x.jpg   1x,
            ./images/carousel/img3_1@1.5x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img3_1@1.5x.webp 1x,
            ./images/carousel/img3_1@2x.webp   2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img3_1@1.5x.jpg 1x,
            ./images/carousel/img3_1@2x.jpg   2x
          "
          type="image/jpg"
        />
        <img
          src="./images/carousel/img3_1@1x.jpg"
          alt="woman with pineapples"
          width="360"
          height="366"
        />
      </picture>
      <picture class="carousel__img img-10">
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img3_2@0.75x.webp 1x,
            ./images/carousel/img3_2@1x.webp    2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img3_2@0.75x.jpg 1x,
            ./images/carousel/img3_2@1x.jpg    2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img3_2@1x.webp   1x,
            ./images/carousel/img3_2@1.5x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img3_2@1x.jpg   1x,
            ./images/carousel/img3_2@1.5x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img3_2@1.5x.webp 1x,
            ./images/carousel/img3_2@2x.webp   2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img3_2@1.5x.jpg 1x,
            ./images/carousel/img3_2@2x.jpg   2x
          "
          type="image/jpg"
        />
        <img
          src="./images/carousel/img3_2@1x.jpg"
          alt="man and woman"
          width="640"
          height="366"
        />
      </picture>
      <picture class="carousel__img img-11">
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img3_3@0.75x.webp 1x,
            ./images/carousel/img3_3@1x.webp    2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img3_3@0.75x.jpg 1x,
            ./images/carousel/img3_3@1x.jpg    2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img3_3@1x.webp   1x,
            ./images/carousel/img3_3@1.5x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img3_3@1x.jpg   1x,
            ./images/carousel/img3_3@1.5x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img3_3@1.5x.webp 1x,
            ./images/carousel/img3_3@2x.webp   2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img3_3@1.5x.jpg 1x,
            ./images/carousel/img3_3@2x.jpg   2x
          "
          type="image/jpg"
        />
        <img
          src="./images/carousel/img3_3@1x.jpg"
          alt="berries"
          width="500"
          height="366"
        />
      </picture>
      <picture class="carousel__img img-12">
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img3_4@0.75x.webp 1x,
            ./images/carousel/img3_4@1x.webp    2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/carousel/img3_4@0.75x.jpg 1x,
            ./images/carousel/img3_4@1x.jpg    2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img3_4@1x.webp   1x,
            ./images/carousel/img3_4@1.5x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/carousel/img3_4@1x.jpg   1x,
            ./images/carousel/img3_4@1.5x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img3_4@1.5x.webp 1x,
            ./images/carousel/img3_4@2x.webp   2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/carousel/img3_4@1.5x.jpg 1x,
            ./images/carousel/img3_4@2x.jpg   2x
          "
          type="image/jpg"
        />
        <img
          src="./images/carousel/img3_4@1x.jpg"
          alt="forest"
          width="300"
          height="366"
        />
      </picture>
    </div>
  </div>
</section>
