<section
  class="section collection"
  data-observer-target
  data-section="collection"
>
  <div class="container collection__wrapper">
    <div class="collection__text--wrapper">
      <h2 class="collection__title">Collection</h2>
      <p class="collection__text">Oya’s secret key NFT reveal</p>
      <p class="collection__date">October 15th 2022</p>
    </div>

    <!-- Images Collection -->
    <ul class="collection__list">
      <li class="collection__item item-1 orange-bg"></li>
      <li class="collection__item item-2"></li>
      <li class="collection__item item-3"></li>
      <li class="collection__item item-4"></li>
      <li class="collection__item item-5"></li>
      <li class="collection__item item-6 img-bg">
        <picture class="collection__img">
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/collection/collection-7@0.75x.jpg 1x,
              ./images/collection/collection-7@1.5x.jpg  2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/collection/collection-7@1x.jpg   1x,
              ./images/collection/collection-7@1.5x.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/collection/collection-7@1.5x.jpg 1x,
              ./images/collection/collection-7@2x.jpg   2x
            "
          />
          <img
            src="./images/collection/collection-7@1x.jpg"
            alt="img-item"
            width="120"
            height="120"
          />
        </picture>
      </li>
      <li class="collection__item item-7"></li>
      <li class="collection__item item-8"></li>
      <li class="collection__item item-9"></li>
      <li class="collection__item item-10"></li>
      <li class="collection__item item-11"></li>
      <li class="collection__item item-12"></li>
      <li class="collection__item item-13"></li>
      <li class="collection__item item-14"></li>
      <li class="collection__item item-15"></li>
      <li class="collection__item item-16"></li>
      <li class="collection__item item-17"></li>
      <li class="collection__item item-18"></li>
      <li class="collection__item item-19"></li>
      <li class="collection__item item-20"></li>
    </ul>
  </div>

  <!-- Background Circles -->
  <svg
    class="bg-circles"
    data-element="collection"
    width="1392"
    height="1353"
    viewBox="0 0 1392 1353"
    fill="none"
  >
    <g opacity="0.3">
      <path
        d="M695.9 1020.63C974.41 1020.63 1200.19 792.378 1200.19 510.815C1200.19 229.252 974.41 1 695.9 1C417.39 1 191.613 229.252 191.613 510.815C191.613 792.378 417.39 1020.63 695.9 1020.63Z"
        stroke="#656c7e"
        stroke-width="3"
        stroke-miterlimit="10"
      />
      <path
        d="M886.404 1351.77C1164.91 1351.77 1390.69 1123.52 1390.69 841.956C1390.69 560.393 1164.91 332.142 886.404 332.142C607.894 332.142 382.117 560.393 382.117 841.956C382.117 1123.52 607.894 1351.77 886.404 1351.77Z"
        stroke="#656c7e"
        stroke-width="3"
        stroke-miterlimit="10"
      />
      <path
        d="M505.286 1351.77C783.796 1351.77 1009.57 1123.52 1009.57 841.956C1009.57 560.393 783.796 332.142 505.286 332.142C226.777 332.142 1 560.393 1 841.956C1 1123.52 226.777 1351.77 505.286 1351.77Z"
        stroke="#656c7e"
        stroke-width="3"
        stroke-miterlimit="10"
      />
    </g>
  </svg>
</section>
