<section class="section collection" data-observer-target data-collection>
  <div class="container collection__wrapper">
    <div class="collection__text--wrapper">
      <h2 class="collection__title">Collection</h2>
      <p class="collection__text">Oya’s secret key NFT reveal</p>
      <p class="collection__date">October 15th 2022</p>
    </div>

    <!-- Images Collection -->
    <ul class="collection__list">
      <li class="collection__item item-1 orange-bg"></li>
      <li class="collection__item item-2"></li>
      <li class="collection__item item-3"></li>
      <li class="collection__item item-4"></li>
      <li class="collection__item item-5"></li>
      <li class="collection__item item-6 img-bg">
        <picture class="collection__img">
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/collection/collection-7@0.75x.jpg 1x,
              ./images/collection/collection-7@1.5x.jpg  2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/collection/collection-7@1x.jpg   1x,
              ./images/collection/collection-7@1.5x.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/collection/collection-7@1.5x.jpg 1x,
              ./images/collection/collection-7@2x.jpg   2x
            "
          />
          <img
            src="./images/collection/collection-7@1x.jpg"
            alt="img-item"
            width="120"
            height="120"
          />
        </picture>
      </li>
      <li class="collection__item item-7"></li>
      <li class="collection__item item-8"></li>
      <li class="collection__item item-9"></li>
      <li class="collection__item item-10"></li>
      <li class="collection__item item-11"></li>
      <li class="collection__item item-12"></li>
      <li class="collection__item item-13"></li>
      <li class="collection__item item-14"></li>
      <li class="collection__item item-15"></li>
      <li class="collection__item item-16"></li>
      <li class="collection__item item-17"></li>
      <li class="collection__item item-18"></li>
      <li class="collection__item item-19"></li>
      <li class="collection__item item-20"></li>
    </ul>
  </div>
</section>
