<section class="section community">
  <h2 class="visually--hidden">Community</h2>
  <div class="container community__wrapper">
    <!-- Content -->
    <div class="community__content">
      <ul class="community__first community__first-list">
        <li class="first__item-text">
          <h3 class="first__item--title">LONGEVITY</h3>
          <h4 class="first__item--subtitle">rediscovered</h4>
          <p class="first__item--text">
            OYA brings together likeminded people and a multitude of practices
            and experiences into one place no like other integrative experience
            you've had before.
          </p>
        </li>
        <li class="first__item--img-wrapper">
          <!-- first image -->
          <picture class="item__img img1">
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/community/Ellipse@mob.webp  1x,
                ./images/community/Ellipse@desk.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/community/Ellipse@mob.png  1x,
                ./images/community/Ellipse@desk.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/community/Ellipse@tab.webp   1x,
                ./images/community/Ellipse@tab2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/community/Ellipse@tab.png   1x,
                ./images/community/Ellipse@tab2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/community/Ellipse@desk.webp   1x,
                ./images/community/Ellipse@desk2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/community/Ellipse@desk.png   1x,
                ./images/community/Ellipse@desk2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./images/community/Ellipse@desk.png"
              alt="women near waterfall"
              width="620"
              height="620"
              loading="lazy"
            />
          </picture>

          <!-- second image -->
          <picture class="item__img img2">
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/community/relax@mob.webp  1x,
                ./images/community/relax@desk.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/community/relax@mob.png  1x,
                ./images/community/relax@desk.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/community/relax@tab.webp   1x,
                ./images/community/relax@tab2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/community/relax@tab.png   1x,
                ./images/community/relax@tab2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/community/relax@desk.webp   1x,
                ./images/community/relax@desk2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/community/relax@desk.png   1x,
                ./images/community/relax@desk2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./images/community/relax@desk.png"
              alt="women in pool"
              width="620"
              height="620"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>
    </div>
    <!-- Decor Text -->
    <span class="community__decor-text">new earth community</span>
  </div>
</section>
