<section class="section community" data-observer-target data-community>
  <div class="container community__wrapper">
    <!-- Content -->
    <div class="community__content--list">
      <!-- First list -->
      <ul class="community__list community__first-list">
        <li class="first__item-text">
          <h2 class="first__item--title">LONGEVITY</h2>
          <span class="first__item--subtitle">rediscovered</span>
          <p class="first__item--text">
            OYA brings together likeminded people and a multitude of practices
            and experiences into one place no like other integrative experience
            you've had before.
          </p>
        </li>
        <li class="first__item--img-wrapper">
          <!-- first image -->
          <picture class="item__img img1">
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/community/Ellipse@mob.webp  1x,
                ./images/community/Ellipse@desk.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/community/Ellipse@mob.png  1x,
                ./images/community/Ellipse@desk.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/community/Ellipse@tab.webp   1x,
                ./images/community/Ellipse@tab2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/community/Ellipse@tab.png   1x,
                ./images/community/Ellipse@tab2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/community/Ellipse@desk.webp   1x,
                ./images/community/Ellipse@desk2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/community/Ellipse@desk.png   1x,
                ./images/community/Ellipse@desk2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./images/community/Ellipse@desk.png"
              alt="women near waterfall"
              width="620"
              height="620"
              loading="lazy"
            />
          </picture>

          <!-- second image -->
          <picture class="item__img img2">
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/community/relax@mob.webp  1x,
                ./images/community/relax@desk.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/community/relax@mob.png  1x,
                ./images/community/relax@desk.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/community/relax@tab.webp   1x,
                ./images/community/relax@tab2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/community/relax@tab.png   1x,
                ./images/community/relax@tab2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/community/relax@desk.webp   1x,
                ./images/community/relax@desk2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/community/relax@desk.png   1x,
                ./images/community/relax@desk2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./images/community/relax@desk.png"
              alt="women in pool"
              width="620"
              height="620"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>

      <!-- Second list -->
      <ul class="community__list community__second-list">
        <li class="second__item-text">
          <h3 class="second__item--title">OYA</h3>
          <span class="second__item--subtitle">offers you</span>
          <ul class="item__text--list">
            <li class="item__text--item">
              <p class="second__item--text">
                Luxury accommodation that connects you to nature.
              </p>
            </li>
            <li class="item__text--item">
              <p class="second__item--text">
                Fresh and healthy farm to table food from her garden.
              </p>
            </li>
            <li class="item__text--item">
              <p class="second__item--text">
                Personalized plans to track and restore your health.
              </p>
            </li>
            <li class="item__text--item">
              <p class="second__item--text">
                A community and the resources you need to transform your life.
              </p>
            </li>
          </ul>
        </li>
        <li class="second__item--img-wrapper">
          <!-- image -->
          <picture class="second-item__img">
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/community/offers@mob.webp  1x,
                ./images/community/offers@desk.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/community/offers@mob.jpg  1x,
                ./images/community/offers@desk.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/community/offers@desk.webp   1x,
                ./images/community/offers@desk2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/community/offers@tab.jpg   1x,
                ./images/community/offers@tab2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/community/offers@desk.webp   1x,
                ./images/community/offers@desk2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/community/offers@desk.jpg   1x,
                ./images/community/offers@desk2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="./images/community/offers@desk.jpg"
              alt="hotel in forest"
              width="790"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>
    </div>
    <!-- Decor Text -->
    <span class="community__decor-text">new earth community</span>
  </div>
</section>
