<section class="section community">
  <div class="container community__wrapper">
    <h2 class="visually--hidden">Community</h2>

    <ul class="community__first-list">
      <li class="first__item">
        <h3 class="first__item--title">LONGEVITY</h3>
        <h4 class="first__item--subtitle">rediscovered</h4>
        <p class="first__item--text">
          OYA brings together likeminded people and a multitude of practices and
          experiences into one place no like other integrative experience you've
          had before.
        </p>
      </li>
      <!-- <li class="first__item">
        <div class="first__item--img-wrapper">
          <img
            src="../src/images/community/offers@desk.jpg"
            alt=""
            class="item__img img1"
          />
          <img
            src="../src/images/community/relax@desk.webp"
            alt=""
            class="item__img img2"
          />
        </div>
      </li> -->
    </ul>
  </div>
</section>
