<footer class="section footer" data-observer-target data-footer>
  <div class="container footer__wrapper">
    <!-- Logo -->
    <div class="footer__logo--wrapper">
      <svg width="120" height="39" class="footer__logo">
        <use href="./icons/sprite.svg#logo"></use>
      </svg>
      <span class="footer__logo--text">connect heal live</span>
    </div>

    <!-- Description -->
    <ul class="footer__description--list">
      <li class="footer__description--item">
        <p>2021, All Rights Reserved</p>
      </li>
      <li class="footer__description--item">
        <p>
          A new way of living, focused on solutions that optimize health,
          longevity & sustainability
        </p>
      </li>
    </ul>

    <div class="footer__links--wrapper">
      <!-- Navigation -->
      <ul class="footer__nav--list">
        <li class="footer__nav--item">
          <a href="#home" class="footer__nav--link" aria-label="to Home"
            >Home</a
          >
          <a href="#journey" class="footer__nav--link" aria-label="to Journey"
            >The Journey</a
          >
        </li>
        <li class="footer__nav--item">
          <a href="#roadmap" class="footer__nav--link" aria-label="to Roadmap"
            >Roadmap</a
          >
          <a
            href="#pillars"
            class="footer__nav--link"
            aria-label="to Tokenomics"
            >The Pillars</a
          >
        </li>
        <li class="footer__nav--item">
          <a href="#newway" class="footer__nav--link" aria-label="to About"
            >About</a
          >
          <a href="#crypto" class="footer__nav--link" aria-label="to Mint NFT"
            >Crypto Access</a
          >
        </li>
        <li class="footer__nav--item">
          <a href="#team" class="footer__nav--link" aria-label="to Team"
            >Team</a
          >
          <a href="#hills" class="footer__nav--link" aria-label="to Hills"
            >Damac Hills</a
          >
        </li>
      </ul>

      <!-- Socials -->
      <ul class="footer__info--list">
        <li class="footer__info--item">
          <button
            class="footer__btn js-open-modal"
            data-modal-open
            aria-label="to open Whitelist"
          >
            Whitepaper
          </button>
        </li>
        <li class="footer__info--item">
          <ul class="footer__socials--list">
            <li class="footer__socials--item">
              <button
                data-modal-open
                class="footer__socials--link"
                aria-label="to discord"
              >
                <svg width="40" height="40">
                  <use href="../src/icons/sprite.svg#soc-discord"></use>
                </svg>
              </button>
            </li>
            <li class="footer__socials--item">
              <button
                data-modal-open
                class="footer__socials--link"
                aria-label="to telegram"
              >
                <svg width="40" height="40">
                  <use href="../src/icons/sprite.svg#soc-telegram"></use>
                </svg>
              </button>
            </li>
            <li class="footer__socials--item">
              <button
                data-modal-open
                class="footer__socials--link"
                aria-label="to twitter"
              >
                <svg width="40" height="40">
                  <use href="../src/icons/sprite.svg#soc-twitter"></use>
                </svg>
              </button>
            </li>
            <li class="footer__socials--item">
              <button
                data-modal-open
                class="footer__socials--link"
                aria-label="to instagram"
              >
                <svg width="40" height="40">
                  <use href="../src/icons/sprite.svg#soc-instagram"></use>
                </svg>
              </button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</footer>
