<footer class="section footer">
  <div class="container footer__wrapper">
    <!-- Logo -->
    <svg width="120" height="39" class="footer__logo">
      <use href="./icons/sprite.svg#logo"></use>
    </svg>
    <span class="footer__logo--text">connect heal live</span>

    <!-- Description -->
    <ul class="footer__description--list">
      <li class="footer__description--item">
        <p>2021, All Rights Reserved</p>
      </li>
      <li class="footer__description--item">
        <p>
          A new way of living, focused on solutions that optimize health,
          longevity & sustainability
        </p>
      </li>
    </ul>

    <!-- Navigation -->
    <ul class="footer__nav--list">
      <li class="footer__nav--item">
        <a href="#" class="footer__nav--link">About</a>
        <a href="#" class="footer__nav--link">Mint NFT</a>
      </li>
      <li class="footer__nav--item">
        <a href="#" class="footer__nav--link">The Journey</a>
        <a href="#" class="footer__nav--link">Collections</a>
      </li>
      <li class="footer__nav--item">
        <a href="#" class="footer__nav--link">Roadmap</a>
        <a href="#" class="footer__nav--link">Whitepaper</a>
      </li>
      <li class="footer__nav--item">
        <a href="#" class="footer__nav--link">Team</a>
        <a href="#" class="footer__nav--link">Tokenomics</a>
      </li>
    </ul>

    <!-- Socials -->
    <ul class="footer__info--list">
      <li class="footer__info--item">
        <button class="footer__btn">Whitepaper</button>
      </li>
      <li class="footer__info--item">
        <ul class="footer__socials--list">
          <li class="footer__socials--item">
            <a href="#" class="footer__socials--link">
              <svg width="40" height="40">
                <use href="../src/icons/sprite.svg#soc-discord"></use>
              </svg>
            </a>
          </li>
          <li class="footer__socials--item">
            <a href="#" class="footer__socials--link">
              <svg width="40" height="40">
                <use href="../src/icons/sprite.svg#soc-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__socials--item">
            <a href="#" class="footer__socials--link">
              <svg width="40" height="40">
                <use href="../src/icons/sprite.svg#soc-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="footer__socials--item">
            <a href="#" class="footer__socials--link">
              <svg width="40" height="40">
                <use href="../src/icons/sprite.svg#soc-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</footer>
