<section class="section future">
  <div class="container future__wrapper">
    <h2 class="future__title">
      WE <br />
      BRING YOU <br /><span> the future of...</span>
    </h2>

    <p class="future__text">
      A quality life as you get older, a more regenerative planet and society, a
      connection to yourself, others, and nature. We bring you a vision of a new
      Earth.
    </p>
  </div>

  <!-- Decor Images -->
  <picture class="future__img1">
    <source
      srcset="
        ./images/future/vertical@1x.webp 1x,
        ./images/future/vertical@2x.webp 2x
      "
      type="image/webp"
    />
    <source
      srcset="
        ./images/future/vertical@1x.jpg 1x,
        ./images/future/vertical@2x.jpg 2x
      "
      type="image/jpg"
    />
    <img
      src="./images/future/vertical@1x.jpg"
      alt="coast"
      width="180"
      height="300"
    />
  </picture>

  <picture class="future__img2">
    <source
      srcset="
        ./images/future/circle@1x.webp 1x,
        ./images/future/circle@2x.webp 2x
      "
      type="image/webp"
    />
    <source
      srcset="
        ./images/future/circle@1x.png 1x,
        ./images/future/circle@2x.png 2x
      "
      type="image/png"
    />
    <img
      src="./images/future/circle@1x.png"
      alt="coast"
      width="180"
      height="300"
    />
  </picture>

  <!-- Background Circles -->
  <svg
    class="bg-circles"
    width="1392"
    height="1353"
    viewBox="0 0 1392 1353"
    fill="none"
  >
    <g opacity="0.3">
      <path
        d="M695.9 1020.63C974.41 1020.63 1200.19 792.378 1200.19 510.815C1200.19 229.252 974.41 1 695.9 1C417.39 1 191.613 229.252 191.613 510.815C191.613 792.378 417.39 1020.63 695.9 1020.63Z"
        stroke="#656c7e"
        stroke-width="3"
        stroke-miterlimit="10"
      />
      <path
        d="M886.404 1351.77C1164.91 1351.77 1390.69 1123.52 1390.69 841.956C1390.69 560.393 1164.91 332.142 886.404 332.142C607.894 332.142 382.117 560.393 382.117 841.956C382.117 1123.52 607.894 1351.77 886.404 1351.77Z"
        stroke="#656c7e"
        stroke-width="3"
        stroke-miterlimit="10"
      />
      <path
        d="M505.286 1351.77C783.796 1351.77 1009.57 1123.52 1009.57 841.956C1009.57 560.393 783.796 332.142 505.286 332.142C226.777 332.142 1 560.393 1 841.956C1 1123.52 226.777 1351.77 505.286 1351.77Z"
        stroke="#656c7e"
        stroke-width="3"
        stroke-miterlimit="10"
      />
    </g>
  </svg>
</section>
