<header class="container header">
  <!---------------------------- Navigation Menu ------------------------------>
  <div class="header__nav-menu">
    <div class="header__nav-menu--heading">
      <button class="menu__btn js-menu__close" aria-label="close menu">
        <svg width="20" height="20" class="menu__icon">
          <use href="./icons/sprite.svg#menu-close"></use>
        </svg>
      </button>

      <div class="header__logo--wrapper nav-menu__logo">
        <svg width="120" height="39" class="header__logo">
          <use href="./icons/sprite.svg#logo"></use>
        </svg>
        <span class="header__logo--text">connect heal live</span>
      </div>

      <button
        class="header__wallet--btn js-open-modal"
        data-modal-open
        aria-label="Connect Wallet"
      >
        <span class="header__wallet--text">Connect Wallet</span>
        <svg width="30" height="30" class="header__wallet--icon">
          <use href="./icons/sprite.svg#wallet"></use>
        </svg>
      </button>
    </div>

    <div class="nav-menu__top">
      <nav class="nav-menu__nav">
        <ul class="nav-menu__nav--list">
          <li class="nav-menu__nav--item">
            <a
              href="#home"
              class="nav-menu__nav-link active-link"
              data-value="home"
              aria-label="to Home"
              >Home</a
            >
          </li>

          <li class="nav-menu__nav-item">
            <a
              href="#newway"
              class="nav-menu__nav-link"
              data-value="about"
              aria-label="to About Section"
              >About OYA</a
            >
          </li>

          <li class="nav-menu__nav-item">
            <a
              href="#journey"
              class="nav-menu__nav-link"
              data-value="journey"
              aria-label="to Journey Section"
              >Your Journey</a
            >
          </li>

          <li class="nav-menu__nav-item">
            <a
              href="#roadmap"
              class="nav-menu__nav-link"
              data-value="roadmap"
              aria-label="to Roadmap Section"
              >Roadmap</a
            >
          </li>

          <li class="nav-menu__nav-item">
            <a
              href="#hills"
              class="nav-menu__nav-link"
              data-value="gallery"
              aria-label="to Gallery Section"
              >Damac Hills</a
            >
          </li>

          <li class="nav-menu__nav-item">
            <a
              href="#crypto"
              class="nav-menu__nav-link"
              data-value="nft"
              aria-label="to Mint NFT Section"
              >Crypto Access</a
            >
          </li>

          <li class="nav-menu__nav-item">
            <a
              href="#team"
              class="nav-menu__nav-link"
              data-value="news"
              aria-label="to News Section"
              >Team</a
            >
          </li>
        </ul>
      </nav>

      <div class="nav-menu__links">
        <div class="nav-menu__contacts">
          <ul class="nav-menu__contacts--list">
            <li class="nav-menu__contacts--item">
              <p class="nav-menu__contacts--link">contacts</p>
            </li>
            <li class="nav-menu__contacts--item">
              <button
                data-modal-open
                class="nav-menu__contacts--link"
                aria-label="send e-mail"
              >
                oya@oyanewearth.com
              </button>
            </li>
          </ul>
          <button
            class="nav-menu__whitepaper"
            data-modal-open
            aria-label="open whitepaper"
          >
            <svg width="24" height="24" class="nav-menu__whitepaper--icon">
              <use href="./icons/sprite.svg#paper"></use>
            </svg>
            <span class="nav-menu__whitepaper--text">whitepaper</span>
          </button>
        </div>

        <!------------------------ Navigation Socials -------------------->
        <ul class="nav-menu__socials--list">
          <li class="nav-menu__socials--item">
            <button
              data-modal-open
              class="nav-menu__socials--link"
              aria-label="to Discord"
            >
              Discord
            </button>
          </li>
          <li class="nav-menu__socials--item">
            <button
              data-modal-open
              class="nav-menu__socials--link"
              aria-label="to Twitter"
            >
              Twitter
            </button>
          </li>
          <li class="nav-menu__socials--item">
            <button
              data-modal-open
              class="nav-menu__socials--link"
              aria-label="to Instagram"
            >
              Instagram
            </button>
          </li>
          <li class="nav-menu__socials--item">
            <button
              data-modal-open
              class="nav-menu__socials--link"
              aria-label="to Telegram"
            >
              Telegram
            </button>
          </li>
        </ul>
      </div>
    </div>

    <div class="nav-menu__footer">
      <span class="nav-menu__footer--item">© OYA. ALL RIGHTS RESERVED</span>
      <span class="nav-menu__footer--item">PRIVACY POLICY</span>
    </div>
  </div>

  <!------------------------------ Header Menu ------------------------------->
  <div class="header__wrapper">
    <div class="header__menu">
      <button class="menu__btn js-menu__open" aria-label="open menu">
        <svg width="24" height="24" class="menu__icon js-btn-icon-open">
          <use href="./icons/sprite.svg#menu"></use>
        </svg>
        <span class="menu__btn-text">Menu</span>
      </button>
    </div>
    <!---------------------------------- Logo -------------------------------->
    <div class="header__logo--wrapper">
      <svg width="120" height="39" class="header__logo">
        <use href="./icons/sprite.svg#logo"></use>
      </svg>
      <span class="header__logo--text">connect heal live</span>
    </div>

    <!--------------------------------- Wallet ------------------------------->
    <button
      class="header__wallet--btn js-open-modal"
      data-modal-open
      aria-label="Connect Wallet"
    >
      <span class="header__wallet--text">Connect Wallet</span>
      <svg width="30" height="30" class="header__wallet--icon">
        <use href="./icons/sprite.svg#wallet"></use>
      </svg>
    </button>
  </div>
</header>
