<header class="container header">
  <!---------------------------- Navigation Menu ------------------------------>
  <div class="header__nav-menu">
    <nav class="nav-menu__nav">
      <ul class="nav-menu__nav--list">
        <li class="nav-menu__nav--item">
          <a href="#" class="nav-menu__nav-link">Home</a>
        </li>

        <li class="nav-menu__nav-item">
          <a href="#" class="nav-menu__nav-link" aria-label="to About Section"
            >About OYA</a
          >
        </li>

        <li class="nav-menu__nav-item">
          <a href="#" class="nav-menu__nav-link" aria-label="to Journey Section"
            >Your Journey</a
          >
        </li>

        <li class="nav-menu__nav-item">
          <a href="#" class="nav-menu__nav-link" aria-label="to Roadmap Section"
            >Roadmap</a
          >
        </li>

        <li class="nav-menu__nav-item">
          <a
            href="#"
            class="nav-menu__nav-link"
            aria-label="to Mint NFT Section"
            >Mint NFT</a
          >
        </li>

        <li class="nav-menu__nav-item">
          <a href="#" class="nav-menu__nav-link" aria-label="to Gallery Section"
            >Gallery</a
          >
        </li>

        <li class="nav-menu__nav-item">
          <a href="#" class="nav-menu__nav-link" aria-label="to News Section"
            >News</a
          >
        </li>
      </ul>
    </nav>

    <div class="nav-menu__links">
      <div class="nav-menu__contacts">
        <ul class="nav-menu__contacts--list">
          <li class="nav-menu__contacts--item">
            <a
              href="#"
              class="nav-menu__contacts--link"
              aria-label="to contacts"
              >contacts</a
            >
          </li>
          <li class="nav-menu__contacts--item">
            <a
              href="#"
              class="nav-menu__contacts--link"
              aria-label="send e-mail"
              >oya@oyanewearth.com</a
            >
          </li>
        </ul>
        <button class="nav-menu__whitepaper" aria-label="open whitepaper">
          <svg width="24" height="24" class="nav-menu__whitepaper--icon">
            <use href="./icons/sprite.svg#paper"></use>
          </svg>
          <span class="nav-menu__whitepaper--text">whitepaper</span>
        </button>
      </div>

      <!------------------------ Navigation Socials -------------------->
      <ul class="nav-menu__socials--list">
        <li class="nav-menu__socials--item">
          <a href="" class="nav-menu__socials--link" aria-label="to Discord"
            >Discord</a
          >
        </li>
        <li class="nav-menu__socials--item">
          <a href="" class="nav-menu__socials--link" aria-label="to Twitter"
            >Twitter</a
          >
        </li>
        <li class="nav-menu__socials--item">
          <a href="" class="nav-menu__socials--link" aria-label="to Instagram"
            >Instagram</a
          >
        </li>
        <li class="nav-menu__socials--item">
          <a href="" class="nav-menu__socials--link" aria-label="to Telegram"
            >Telegram</a
          >
        </li>
      </ul>
    </div>

    <div class="nav-menu__footer">
      <span class="nav-menu__footer--item">© OYA. ALL RIGHTS RESERVED</span>
      <span class="nav-menu__footer--item">PRIVACY POLICY</span>
    </div>
  </div>

  <!------------------------------ Header Menu ------------------------------->
  <div class="header__wrapper">
    <div class="header__menu">
      <button class="menu__btn js-btn-menu" aria-label="open mobile menu">
        <svg
          width="24"
          height="24"
          class="menu__icon js-btn-icon-open menu-active"
        >
          <use href="./icons/sprite.svg#menu"></use>
        </svg>
        <svg width="24" height="24" class="menu__icon js-btn-icon-open">
          <use href="./icons/sprite.svg#menu-close"></use>
        </svg>
        <span class="menu__btn-text">Menu</span>
      </button>
    </div>
    <!---------------------------------- Logo -------------------------------->
    <div class="header__logo--wrapper">
      <svg width="120" height="39" class="header__logo">
        <use href="./icons/sprite.svg#logo"></use>
      </svg>
      <span class="header__logo--text">connect heal live</span>
    </div>

    <!--------------------------------- Wallet ------------------------------->
    <button
      class="header__wallet--btn js-open-modal"
      aria-label="Connect Wallet"
    >
      <span class="header__wallet--text">Connect Wallet</span>
      <svg width="30" height="30" class="header__wallet--icon">
        <use href="./icons/sprite.svg#wallet"></use>
      </svg>
    </button>
  </div>
</header>
