<section class="hero">
  <div class="container hero__wrapper">
    <h1 class="hero-heading__title">
      NATURE <br />
      <span class="hero-heading__accent">TEACHES</span><br />
      <span class="hero-heading__italic">us</span> AND WE <br />
      ABIDE
    </h1>
    <p class="hero__text hero__text--right">
      A new way of living, focused on solutions that optimize health, longevity
      & sustainability
    </p>
    <p class="hero__text hero__text--left">
      Your new all-inclusive getaway with extraordinary and memorable
      experiences waiting to happen
    </p>

    <button
      type="button"
      class="hero__link member js-open-modal"
      aria-label="to Membership"
    >
      Membership
    </button>
    <button
      type="button"
      class="hero__link whitelist js-open-modal"
      aria-label="to Whitelist"
    >
      Join <br />
      Whitelist
    </button>

    <svg
      class="hero__bg-circles"
      width="1392"
      height="1353"
      viewBox="0 0 1392 1353"
      fill="none"
    >
      <g opacity="0.3">
        <path
          d="M695.9 1020.63C974.41 1020.63 1200.19 792.378 1200.19 510.815C1200.19 229.252 974.41 1 695.9 1C417.39 1 191.613 229.252 191.613 510.815C191.613 792.378 417.39 1020.63 695.9 1020.63Z"
          stroke="white"
          stroke-width="3"
          stroke-miterlimit="10"
        />
        <path
          d="M886.404 1351.77C1164.91 1351.77 1390.69 1123.52 1390.69 841.956C1390.69 560.393 1164.91 332.142 886.404 332.142C607.894 332.142 382.117 560.393 382.117 841.956C382.117 1123.52 607.894 1351.77 886.404 1351.77Z"
          stroke="white"
          stroke-width="3"
          stroke-miterlimit="10"
        />
        <path
          d="M505.286 1351.77C783.796 1351.77 1009.57 1123.52 1009.57 841.956C1009.57 560.393 783.796 332.142 505.286 332.142C226.777 332.142 1 560.393 1 841.956C1 1123.52 226.777 1351.77 505.286 1351.77Z"
          stroke="white"
          stroke-width="3"
          stroke-miterlimit="10"
        />
      </g>
    </svg>
  </div>
</section>
