<section class="hero">
  <div class="container hero__wrapper">
    <h1 class="hero-heading__title">
      NATURE <br />
      <span class="hero-heading__accent">TEACHES</span><br />
      <span class="hero-heading__italic">us</span> AND WE <br />
      ABIDE
    </h1>
    <p class="hero__text hero__text--right">
      A new way of living, focused on solutions that optimize health, longevity
      & sustainability
    </p>
    <p class="hero__text hero__text--left">
      Your new all-inclusive getaway with extraordinary and memorable
      experiences waiting to happen
    </p>

    <a href="journey" class="hero__btn member" aria-label="to Journey"
      >the <br />
      Journey</a
    >
    <a href="whitelist" class="hero__btn whitelist" aria-label="to Whitelist"
      >Join <br />
      Whitelist</a
    >
  </div>
</section>
