<section class="section hills">
  <div class="hills__wrapper">
    <article class="hills__descr">
      <h2 class="hills__title">Damac Hills</h2>
      <p class="hills__text">
        We are forming a New Earth community delivering solutions that optimize
        activity, longevity, and wellness in unforgettable locations around the
        world. <br />
        <span
          >The longevity sector is on track to be a multi trillion dollar
          industry. World’s leaders are heavily investing in longevity
          tools.</span
        >
      </p>
      <div class="hills__coord--wrapper">
        <svg width="30" height="30" class="hills__coord--icon">
          <use href="./icons/sprite.svg#location"></use>
        </svg>
        <span class="hills__coord--text">20.2536° N / 69.3321° W</span>
      </div>
    </article>
  </div>
</section>
