<section
  id="crypto"
  class="section international"
  data-observer-target
  data-international
>
  <div class="container international__wrapper">
    <!-- Collection -->
    <div class="international__collection--wrapper">
      <ul class="international__collection--filter">
        <li class="collection__filter--item">
          <button
            class="collection__filter--btn active"
            aria-label="to International"
          >
            OYA International
          </button>
        </li>
        <li class="collection__filter--item">
          <button class="collection__filter--btn" aria-label="to NFT">
            NFT card
          </button>
        </li>
      </ul>
      <!-- Cards Images -->

      <!-- International images -->
      <picture class="collection__filter--img visible">
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/international/card@0.5x.webp 1x,
            ./images/international/card@1x.webp   2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/international/card@0.5x.png 1x,
            ./images/international/card@1x.png   2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/international/card@0.75x.webp 1x,
            ./images/international/card@1.5x.webp  2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/international/card@0.75x.png 1x,
            ./images/international/card@1.5x.png  2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/international/card@1x.webp 1x,
            ./images/international/card@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/international/card@1x.png 1x,
            ./images/international/card@2x.png 2x
          "
          type="image/png"
        />
        <img
          src="./images/international/card@1x.png"
          alt="card"
          width="638"
          height="410"
          loading="lazy"
        />
      </picture>

      <!-- NFT images -->
      <picture class="collection__filter--img nft-img">
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/international/nft@0.5x.webp 1x,
            ./images/international/nft@1x.webp   2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767.9px)"
          srcset="
            ./images/international/nft@0.5x.png 1x,
            ./images/international/nft@1x.png   2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/international/nft@0.75x.webp 1x,
            ./images/international/nft@1.5x.webp  2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/international/nft@0.75x.png 1x,
            ./images/international/nft@1.5x.png  2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/international/nft@1x.webp 1x,
            ./images/international/nft@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/international/nft@1x.png 1x,
            ./images/international/nft@2x.png 2x
          "
          type="image/png"
        />
        <img
          src="./images/international/nft@1x.png"
          alt="NFT card"
          width="638"
          height="410"
          loading="lazy"
        />
      </picture>
    </div>

    <!-- Text -->
    <ul class="international__text--list">
      <li class="international__text--item">
        <h2 class="international__item--subtitle">
          <span>CRYPTO</span> access
        </h2>
      </li>
      <li class="international__text--item">
        <h3 class="international__item--title">
          <span>OYA</span> International
        </h3>
      </li>
      <li class="international__text--item">
        <p class="international__item--price">NFT — $5,000</p>
      </li>
      <li class="international__text--item">
        <p class="international__item--info">SALES START DATE</p>
      </li>
      <li class="international__text--item">
        <p class="international__item--date">January 9, 2023</p>
      </li>
    </ul>
  </div>

  <button
    class="international__btn js-open-modal"
    data-modal-open
    aria-label="to utilities"
  >
    View utilities
  </button>
</section>
