<section id="journey" class="section journey" data-observer-target data-journey>
  <div class="container journey__wrapper">
    <h2 class="journey__title"><span>the</span><br />JOURNEY</h2>

    <!-- Slider -->
    <div class="swiper__journey">
      <ul class="swiper-wrapper journey__slider--container">
        <li class="swiper-slide journey__slide">
          <img
            src="./images/journey/slide1@2x.png"
            alt="green"
            width="1280"
            height="1280"
            loading="lazy"
          />
        </li>
        <li class="swiper-slide journey__slide">
          <img
            src="./images/journey/slide2@2x.png"
            alt="green"
            width="1280"
            height="1280"
            loading="lazy"
          />
        </li>
        <li class="swiper-slide journey__slide">
          <img
            src="./images/journey/slide3@2x.png"
            alt="green"
            width="1280"
            height="1280"
            loading="lazy"
          />
        </li>
        <li class="swiper-slide journey__slide">
          <img
            src="./images/journey/slide4@2x.png"
            alt="green"
            width="1280"
            height="1280"
            loading="lazy"
          />
        </li>
        <li class="swiper-slide journey__slide">
          <img
            src="./images/journey/slide5@2x.png"
            alt="green"
            width="1280"
            height="1280"
            loading="lazy"
          />
        </li>
        <li class="swiper-slide journey__slide">
          <img
            src="./images/journey/slide6@2x.png"
            alt="green"
            width="1280"
            height="1280"
            loading="lazy"
          />
        </li>
      </ul>
    </div>

    <!-- Subtiltle -->
    <div class="journey__subtitle--wrapper">
      <h3 class="journey__subtitle">HEAL</h3>
      <p class="journey__text">The Active Life and Health Tracking</p>
    </div>
  </div>
</section>
