<section class="section journey">
  <div class="container journey__wrapper">
    <h2 class="journey__title"><span>the</span><br />JOURNEY</h2>

    <!-- Slider -->
    <ul class="journey__slider--container">
      <li class="journey__slide">
        <picture class="journey__slide--img">
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/journey/slide1@0.75x.webp 1x,
              ./images/journey/slide1@1.5x.webp  2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/journey/slide1@0.75x.png 1x,
              ./images/journey/slide1@1.5x.png  2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/journey/slide1@1x.webp   1x,
              ./images/journey/slide1@1.5x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/journey/slide1@1x.png   1x,
              ./images/journey/slide1@1.5x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/journey/slide1@1.5x.webp 1x,
              ./images/journey/slide1@2x.webp   2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/journey/slide1@1.5x.png 1x,
              ./images/journey/slide1@2x.png   2x
            "
            type="image/png"
          />
          <img
            src="./images/journey/slide1@1x.png"
            alt="green"
            width="640"
            height="640"
          />
        </picture>
      </li>
      <li class="journey__slide active-img">
        <picture class="journey__slide--img">
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/journey/slide2@0.75x.webp 1x,
              ./images/journey/slide2@1.5x.webp  2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/journey/slide2@0.75x.png 1x,
              ./images/journey/slide2@1.5x.png  2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/journey/slide2@1x.webp   1x,
              ./images/journey/slide2@1.5x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/journey/slide2@1x.png   1x,
              ./images/journey/slide2@1.5x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/journey/slide2@1.5x.webp 1x,
              ./images/journey/slide2@2x.webp   2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/journey/slide2@1.5x.png 1x,
              ./images/journey/slide2@2x.png   2x
            "
            type="image/png"
          />
          <img
            src="./images/journey/slide2@1x.png"
            alt="green"
            width="640"
            height="640"
          />
        </picture>
      </li>
      <li class="journey__slide">
        <picture class="journey__slide--img">
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/journey/slide3@0.75x.webp 1x,
              ./images/journey/slide3@1.5x.webp  2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/journey/slide3@0.75x.png 1x,
              ./images/journey/slide3@1.5x.png  2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/journey/slide3@1x.webp   1x,
              ./images/journey/slide3@1.5x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/journey/slide3@1x.png   1x,
              ./images/journey/slide3@1.5x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/journey/slide3@1.5x.webp 1x,
              ./images/journey/slide3@2x.webp   2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/journey/slide3@1.5x.png 1x,
              ./images/journey/slide3@2x.png   2x
            "
            type="image/png"
          />
          <img
            src="./images/journey/slide3@1x.png"
            alt="green"
            width="640"
            height="640"
          />
        </picture>
      </li>
      <li class="journey__slide">
        <picture class="journey__slide--img">
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/journey/slide4@0.75x.webp 1x,
              ./images/journey/slide4@1.5x.webp  2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/journey/slide4@0.75x.png 1x,
              ./images/journey/slide4@1.5x.png  2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/journey/slide4@1x.webp   1x,
              ./images/journey/slide4@1.5x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/journey/slide4@1x.png   1x,
              ./images/journey/slide4@1.5x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/journey/slide4@1.5x.webp 1x,
              ./images/journey/slide4@2x.webp   2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/journey/slide4@1.5x.png 1x,
              ./images/journey/slide4@2x.png   2x
            "
            type="image/png"
          />
          <img
            src="./images/journey/slide4@1x.png"
            alt="green"
            width="640"
            height="640"
          />
        </picture>
      </li>
      <li class="journey__slide">
        <picture class="journey__slide--img">
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/journey/slide5@0.75x.webp 1x,
              ./images/journey/slide5@1.5x.webp  2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/journey/slide5@0.75x.png 1x,
              ./images/journey/slide5@1.5x.png  2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/journey/slide5@1x.webp   1x,
              ./images/journey/slide5@1.5x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/journey/slide5@1x.png   1x,
              ./images/journey/slide5@1.5x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/journey/slide5@1.5x.webp 1x,
              ./images/journey/slide5@2x.webp   2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/journey/slide5@1.5x.png 1x,
              ./images/journey/slide5@2x.png   2x
            "
            type="image/png"
          />
          <img
            src="./images/journey/slide5@1x.png"
            alt="green"
            width="640"
            height="640"
          />
        </picture>
      </li>
      <li class="journey__slide">
        <picture class="journey__slide--img">
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/journey/slide6@0.75x.webp 1x,
              ./images/journey/slide6@1.5x.webp  2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/journey/slide6@0.75x.png 1x,
              ./images/journey/slide6@1.5x.png  2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/journey/slide6@1x.webp   1x,
              ./images/journey/slide6@1.5x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/journey/slide6@1x.png   1x,
              ./images/journey/slide6@1.5x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/journey/slide6@1.5x.webp 1x,
              ./images/journey/slide6@2x.webp   2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/journey/slide6@1.5x.png 1x,
              ./images/journey/slide6@2x.png   2x
            "
            type="image/png"
          />
          <img
            src="./images/journey/slide6@1x.png"
            alt="green"
            width="640"
            height="640"
          />
        </picture>
      </li>
    </ul>

    <!-- Slider Navigation -->
    <div class="journey__slide--nav">
      <button class="journey__slide--prev">
        <svg class="journey__slide--nav-icon" viewBox="0 0 140 11">
          <path d="M11 5h129v1H11zM0 5.5 9 0v11L0 5.5Z" />
        </svg>
      </button>
      <button class="journey__slide--next">
        <svg class="journey__slide--nav-icon" viewBox="0 0 140 11">
          <path d="M0 5h129v1H0zM140 5.5 131 0v11l9-5.5Z" />
        </svg>
      </button>
    </div>

    <!-- Subtiltle -->
    <div class="journey__subtitle--wrapper">
      <h3 class="journey__subtitle">HEAL</h3>
      <p class="journey__text">The Active Life and Health Tracking</p>
    </div>
  </div>
</section>
