<div class="header__nav-menu">
  <div class="header__nav-menu--heading">
    <button class="menu__btn js-menu__close">
      <svg width="20" height="20" class="menu__icon">
        <use href="./icons/sprite.svg#menu-close"></use>
      </svg>
    </button>

    <div class="header__logo--wrapper nav-menu__logo">
      <svg width="120" height="39" class="header__logo">
        <use href="./icons/sprite.svg#logo"></use>
      </svg>
      <span class="header__logo--text">connect heal live</span>
    </div>

    <button
      class="header__wallet--btn js-open-modal"
      aria-label="Connect Wallet"
    >
      <span class="header__wallet--text">Connect Wallet</span>
      <svg width="30" height="30" class="header__wallet--icon">
        <use href="./icons/sprite.svg#wallet"></use>
      </svg>
    </button>
  </div>

  <div class="nav-menu__top">
    <nav class="nav-menu__nav">
      <ul class="nav-menu__nav--list">
        <li class="nav-menu__nav--item">
          <a
            href="#"
            class="nav-menu__nav-link active__nav-link"
            data-value="home"
            aria-label="to Home"
            >Home</a
          >
        </li>

        <li class="nav-menu__nav-item">
          <a
            href="#newway"
            class="nav-menu__nav-link"
            data-value="about"
            aria-label="to About Section"
            >About OYA</a
          >
        </li>

        <li class="nav-menu__nav-item">
          <a
            href="#journey"
            class="nav-menu__nav-link"
            data-value="journey"
            aria-label="to Journey Section"
            >Your Journey</a
          >
        </li>

        <li class="nav-menu__nav-item">
          <a
            href="#roadmap"
            class="nav-menu__nav-link"
            data-value="roadmap"
            aria-label="to Roadmap Section"
            >Roadmap</a
          >
        </li>

        <li class="nav-menu__nav-item">
          <a
            href="#crypto"
            class="nav-menu__nav-link"
            data-value="nft"
            aria-label="to Mint NFT Section"
            >Crypto Access</a
          >
        </li>

        <li class="nav-menu__nav-item">
          <a
            href="#hills"
            class="nav-menu__nav-link"
            data-value="gallery"
            aria-label="to Gallery Section"
            >Damac Hills</a
          >
        </li>

        <li class="nav-menu__nav-item">
          <a
            href="#team"
            class="nav-menu__nav-link"
            data-value="news"
            aria-label="to News Section"
            >Team</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
