<section class="section newway">
  <div class="container newway__wrapper">
    <h2 class="newway__heading-title">
      A NEW WAY <br /><span>of living</span><br /><span>A QUALITY LIFE</span>
    </h2>

    <div class="newway__texts-block first-block">
      <ul class="newway__block-title--list">
        <li class="block-title__item">
          <h3>RITUALS</h3>
        </li>
        <li class="block-title__item">
          <picture>
            <source
              srcset="
                ./images/decor/circle@1x.webp 1x,
                ./images/decor/circle@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/decor/circle@1x.png 1x,
                ./images/decor/circle@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./images/decor/circle@1x.png"
              alt="life circle"
              width="34"
              height="34"
            />
          </picture>
        </li>
        <li class="block-title__item">
          <h3>TECHNOLOGY</h3>
        </li>
      </ul>
      <p class="texts-block__text">
        The wisdom of the past with the tools of the future
      </p>
    </div>

    <picture>
      <source
        srcset="
          ./images/newway/rituals@1x.webp 1x,
          ./images/newway/rituals@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        srcset="
          ./images/newway/rituals@1x.png 1x,
          ./images/newway/rituals@2x.png 2x
        "
        type="image/png"
      />
      <img
        src="./images/newway/rituals@1x.png"
        alt="rituals"
        width="360"
        height="360"
      />
    </picture>

    <div class="newway__texts-block second-block">
      <ul class="newway__block-title--list">
        <li class="block-title__item">
          <h3>EAST</h3>
        </li>
        <li class="block-title__item">
          <picture>
            <source
              srcset="
                ./images/decor/circle@1x.webp 1x,
                ./images/decor/circle@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/decor/circle@1x.png 1x,
                ./images/decor/circle@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./images/decor/circle@1x.png"
              alt="life circle"
              width="34"
              height="34"
            />
          </picture>
        </li>
        <li class="block-title__item">
          <h3>WEST</h3>
        </li>
      </ul>
      <p class="texts-block__text">
        Cross-cultural practices and knowledge brought together for the benefit
        of all
      </p>
    </div>

    <picture>
      <source
        srcset="
          ./images/newway/east@1x.webp 1x,
          ./images/newway/east@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        srcset="./images/newway/east@1x.png 1x, ./images/newway/east@2x.png 2x"
        type="image/png"
      />
      <img
        src="./images/newway/east@1x.png"
        alt="east"
        width="360"
        height="360"
      />
    </picture>

    <div class="newway__texts-block third-block">
      <ul class="newway__block-title--list">
        <li class="block-title__item">
          <h3>OLD</h3>
        </li>
        <li class="block-title__item">
          <picture>
            <source
              srcset="
                ./images/decor/circle@1x.webp 1x,
                ./images/decor/circle@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/decor/circle@1x.png 1x,
                ./images/decor/circle@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./images/decor/circle@1x.png"
              alt="life circle"
              width="34"
              height="34"
            />
          </picture>
        </li>
        <li class="block-title__item">
          <h3>NEW</h3>
        </li>
      </ul>
      <p class="texts-block__text">
        Recapturing and renewing the beauty of the past into the beauty of our
        present and future
      </p>
    </div>

    <picture>
      <source
        srcset="./images/newway/new@1x.webp 1x, ./images/newway/new@2x.webp 2x"
        type="image/webp"
      />
      <source
        srcset="./images/newway/new@1x.png 1x, ./images/newway/new@2x.png 2x"
        type="image/png"
      />
      <img
        src="./images/newway/new@1x.png"
        alt="new"
        width="360"
        height="360"
      />
    </picture>

    <svg width="230" height="75" class="newway__logo">
      <use href="./icons/sprite.svg#logo"></use>
    </svg>
  </div>
</section>
