<section class="section partners">
  <div class="container partners__wrapper">
    <h2 class="partners__title">partners</h2>

    <ul class="partners__list">
      <li class="partners__item">
        <button class="partners__link js-open-modal">
          <img
            class="partners__icon"
            src="./icons/collections/partners-biswap.svg"
            alt="biswap"
            width="246"
            height="120"
          />
        </button>
      </li>
      <li class="partners__item">
        <button class="partners__link js-open-modal">
          <img
            class="partners__icon"
            src="./icons/collections/partners-cointiger.svg"
            alt="biswap"
            width="246"
            height="120"
          />
        </button>
      </li>
      <li class="partners__item">
        <button class="partners__link js-open-modal">
          <img
            class="partners__icon"
            src="./icons/collections/partners-hotbit.svg"
            alt="biswap"
            width="246"
            height="120"
          />
        </button>
      </li>
      <li class="partners__item">
        <button class="partners__link js-open-modal">
          <img
            class="partners__icon"
            src="./icons/collections/partners-matcha.svg"
            alt="biswap"
            width="246"
            height="120"
          />
        </button>
      </li>
      <li class="partners__item">
        <button class="partners__link js-open-modal">
          <img
            class="partners__icon"
            src="./icons/collections/partners-apeswap.svg"
            alt="biswap"
            width="246"
            height="120"
          />
        </button>
      </li>
      <li class="partners__item">
        <button class="partners__link js-open-modal">
          <img
            class="partners__icon"
            src="./icons/collections/partners-mate.svg"
            alt="biswap"
            width="246"
            height="120"
          />
        </button>
      </li>
      <li class="partners__item">
        <button class="partners__link js-open-modal">
          <img
            class="partners__icon"
            src="./icons/collections/partners-arken.svg"
            alt="biswap"
            width="246"
            height="120"
          />
        </button>
      </li>
      <li class="partners__item">
        <button class="partners__link js-open-modal">
          <img
            class="partners__icon"
            src="./icons/collections/partners-coin98.svg"
            alt="biswap"
            width="246"
            height="120"
          />
        </button>
      </li>
    </ul>
  </div>
</section>
