<section class="section partners" data-observer-target data-partners>
  <div class="container partners__wrapper">
    <h2 class="partners__title">partners</h2>

    <ul class="partners__list">
      <li class="partners__item">
        <a
          href="https://biswap.org/"
          target="_blank"
          aria-label="to Biswap"
          class="partners__link"
        >
          <img
            class="partners__icon"
            src="./icons/collections/partners-biswap.svg"
            alt="biswap"
            width="246"
            height="120"
          />
        </a>
      </li>
      <li class="partners__item">
        <a
          href="https://play.google.com/store/apps/details?id=com.cointiger.ex&hl=uk&gl=US"
          target="_blank"
          class="partners__link"
          aria-label="to Cointiger"
        >
          <img
            class="partners__icon"
            src="./icons/collections/partners-cointiger.svg"
            alt="biswap"
            width="246"
            height="120"
          />
        </a>
      </li>
      <li class="partners__item">
        <a
          href="https://play.google.com/store/apps/details?id=io.hotbit.shouyi&hl=en&gl=US"
          target="_blank"
          aria-label="to Hotbit"
          class="partners__link"
        >
          <img
            class="partners__icon"
            src="./icons/collections/partners-hotbit.svg"
            alt="biswap"
            width="246"
            height="120"
          />
        </a>
      </li>
      <li class="partners__item">
        <a
          href="https://matcha.xyz/"
          target="_blank"
          aria-label="to Matcha"
          class="partners__link"
        >
          <img
            class="partners__icon"
            src="./icons/collections/partners-matcha.svg"
            alt="biswap"
            width="246"
            height="120"
          />
        </a>
      </li>
      <li class="partners__item">
        <a
          href="https://apeswap.finance/"
          target="_blank"
          aria-label="to ApeSwap"
          class="partners__link"
        >
          <img
            class="partners__icon"
            src="./icons/collections/partners-apeswap.svg"
            alt="biswap"
            width="246"
            height="120"
          />
        </a>
      </li>
      <li class="partners__item">
        <a
          href="https://usemate.com/"
          target="_blank"
          aria-label="to Mate"
          class="partners__link"
        >
          <img
            class="partners__icon"
            src="./icons/collections/partners-mate.svg"
            alt="biswap"
            width="246"
            height="120"
          />
        </a>
      </li>
      <li class="partners__item">
        <a
          href="https://arken.finance/"
          target="_blank"
          aria-label="to Arken"
          class="partners__link"
        >
          <img
            class="partners__icon"
            src="./icons/collections/partners-arken.svg"
            alt="biswap"
            width="246"
            height="120"
          />
        </a>
      </li>
      <li class="partners__item">
        <a
          href="https://coin98.com/"
          target="_blank"
          aria-label="to Coin98"
          class="partners__link"
        >
          <img
            class="partners__icon"
            src="./icons/collections/partners-coin98.svg"
            alt="biswap"
            width="246"
            height="120"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
