<section id="pillars" class="section pillars" data-observer-target data-pillars>
  <div class="container pillars__wrapper">
    <!-- Content -->
    <ul class="pillars__content--list">
      <li class="pillars__content--item">
        <h2 class="pillars__title">the <br /><span>Pillars</span></h2>
      </li>
      <li class="pillars__content--item">
        <picture class="pillars__item--img">
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/pillars/connect@mob.webp   1x,
              ./images/pillars/connect@mob2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/pillars/connect@mob.jpg   1x,
              ./images/pillars/connect@mob2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/pillars/connect@tab.webp   1x,
              ./images/pillars/connect@tab2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/pillars/connect@tab.jpg   1x,
              ./images/pillars/connect@tab2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/pillars/connect@desk.webp   1x,
              ./images/pillars/connect@desk2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/pillars/connect@desk.jpg   1x,
              ./images/pillars/connect@desk2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./images/pillars/connect@desk.jpg"
            alt="man in heat"
            width="360"
            height="400"
            loading="lazy"
          />
        </picture>
        <div class="pillars__item-text--wrapper">
          <h3 class="pillars__item--title">Connect</h3>
          <p class="pillars__item-text">
            Meaning in life comes from connection. A deep connection to
            yourself, a deep connection to loved ones and humanity as a whole,
            and a connection to nature. Meaning can be found within natural
            limits.
          </p>
        </div>
      </li>
      <li class="pillars__content--item">
        <picture class="pillars__item--img heal-img">
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/pillars/heal@mob.webp   1x,
              ./images/pillars/heal@mob2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/pillars/heal@mob.jpg   1x,
              ./images/pillars/heal@mob2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/pillars/heal@tab.webp   1x,
              ./images/pillars/heal@tab2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/pillars/heal@tab.jpg   1x,
              ./images/pillars/heal@tab2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/pillars/heal@desk.webp   1x,
              ./images/pillars/heal@desk2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/pillars/heal@desk.jpg   1x,
              ./images/pillars/heal@desk2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./images/pillars/heal@desk.jpg"
            alt="man in heat"
            width="360"
            height="400"
            loading="lazy"
          />
        </picture>
        <div class="pillars__item-text--wrapper heal-text">
          <h3 class="pillars__item--title">Heal</h3>
          <p class="pillars__item-text">
            Heal your body. Heal your mind. Heal your spirit. Heal your
            relationships. Heal nature. It's time to stop coping and actually
            heal.
          </p>
        </div>
      </li>
      <li class="pillars__content--item">
        <picture class="pillars__item--img">
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/pillars/live@mob.webp   1x,
              ./images/pillars/live@mob2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/pillars/live@mob.jpg   1x,
              ./images/pillars/live@mob2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/pillars/live@tab.webp   1x,
              ./images/pillars/live@tab2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/pillars/live@tab.jpg   1x,
              ./images/pillars/live@tab2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/pillars/live@desk.webp   1x,
              ./images/pillars/live@desk2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/pillars/live@desk.jpg   1x,
              ./images/pillars/live@desk2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./images/pillars/live@desk.jpg"
            alt="man in heat"
            width="360"
            height="400"
            loading="lazy"
          />
        </picture>
        <div class="pillars__item-text--wrapper">
          <h3 class="pillars__item--title">Live</h3>
          <p class="pillars__item-text">
            The world we want to live in is going to have to be discovered
            together as a collective. The discussion starts with our habits. It
            starts with how we live.
          </p>
        </div>
      </li>
    </ul>

    <!-- Slider Navigation -->

    <div class="pillars__slider--nav-btns">
      <button class="pillars__slider--prev" aria-label="to previous image">
        <svg class="pillars__slider--nav-icon" viewBox="0 0 140 11">
          <path d="M11 5h129v1H11zM0 5.5 9 0v11L0 5.5Z" />
        </svg>
      </button>
      <button class="pillars__slider--next" aria-label="to next image">
        <svg class="pillars__slider--nav-icon" viewBox="0 0 140 11">
          <path d="M0 5h129v1H0zM140 5.5 131 0v11l9-5.5Z" />
        </svg>
      </button>
    </div>

    <!-- Slider -->
    <ul class="pillars__slider--container">
      <li class="pillars__slide">
        <picture class="pillars__slide--img">
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/pillars/slide1@mob.webp   1x,
              ./images/pillars/slide1@mob2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/pillars/slide1@mob.jpg   1x,
              ./images/pillars/slide1@mob2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/pillars/slide1@tab.webp   1x,
              ./images/pillars/slide1@tab2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/pillars/slide1@tab.jpg   1x,
              ./images/pillars/slide1@tab2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/pillars/slide1@desk.webp   1x,
              ./images/pillars/slide1@desk2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/pillars/slide1@desk.jpg   1x,
              ./images/pillars/slide1@desk2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            src="./images/pillars/slide1@desk.jpg"
            alt="sea"
            width="780"
            height="400"
            loading="lazy"
          />
        </picture>
        <p class="pillars__slide--text">
          East meets West with a combination of nutraceuticals and medical grade
          supplements based on the latest research in longevity.
        </p>
      </li>
      <li class="pillars__slide">
        <picture class="pillars__slide--img">
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/pillars/slide2@mob.webp   1x,
              ./images/pillars/slide2@mob2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/pillars/slide2@mob.jpg   1x,
              ./images/pillars/slide2@mob2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/pillars/slide2@tab.webp   1x,
              ./images/pillars/slide2@tab2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/pillars/slide2@tab.jpg   1x,
              ./images/pillars/slide2@tab2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/pillars/slide2@desk.webp   1x,
              ./images/pillars/slide2@desk2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/pillars/slide2@desk.jpg   1x,
              ./images/pillars/slide2@desk2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            src="./images/pillars/slide2@desk.jpg"
            alt="DNA"
            width="780"
            height="400"
            loading="lazy"
          />
        </picture>
        <p class="pillars__slide--text">
          The latest technologies in individualized health tracking and
          diagnostics to provide you with a personalized plan for your future
          health.
        </p>
      </li>
      <li class="pillars__slide">
        <picture class="pillars__slide--img">
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/pillars/slide3@mob.webp   1x,
              ./images/pillars/slide3@mob2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/pillars/slide3@mob.jpg   1x,
              ./images/pillars/slide3@mob2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/pillars/slide3@tab.webp   1x,
              ./images/pillars/slide3@tab2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/pillars/slide3@tab.jpg   1x,
              ./images/pillars/slide3@tab2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/pillars/slide3@desk.webp   1x,
              ./images/pillars/slide3@desk2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/pillars/slide3@desk.jpg   1x,
              ./images/pillars/slide3@desk2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            src="./images/pillars/slide3@desk.jpg"
            alt="hotel"
            width="780"
            height="400"
            loading="lazy"
          />
        </picture>
        <p class="pillars__slide--text">
          East meets West with a combination of nutraceuticals and medical grade
          supplements based on the latest research in longevity.
        </p>
      </li>
      <li class="pillars__slide">
        <picture class="pillars__slide--img">
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/pillars/slide4@mob.webp   1x,
              ./images/pillars/slide4@mob2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/pillars/slide4@mob.jpg   1x,
              ./images/pillars/slide4@mob2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/pillars/slide4@tab.webp   1x,
              ./images/pillars/slide4@tab2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/pillars/slide4@tab.jpg   1x,
              ./images/pillars/slide4@tab2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/pillars/slide4@desk.webp   1x,
              ./images/pillars/slide4@desk2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/pillars/slide4@desk.jpg   1x,
              ./images/pillars/slide4@desk2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            src="./images/pillars/slide4@desk.jpg"
            alt="hotel"
            width="780"
            height="400"
            loading="lazy"
          />
        </picture>
        <p class="pillars__slide--text">
          The latest technologies in individualized health tracking and
          diagnostics to provide you with a personalized plan for your future
          health.
        </p>
      </li>
    </ul>
  </div>
</section>
