<section class="section roadmap">
  <div class="container roadmap__wrapper">
    <ul class="roadmap__list">
      <li class="roadmap__item">
        <h2 class="roadmap__title">ROADMAP</h2>
        <p class="roadmap__text">
          Oya is all over the map. Find out where she's been and what she's
          doing to eventually find Oya.
        </p>
      </li>
      <!-- 1 card -->
      <li class="roadmap__item">
        <p class="roadmap__item--date">Q4 2021</p>
        <svg
          class="roadmap__item--dots"
          width="75"
          height="9"
          viewBox="0 0 75 9"
          fill="none"
        >
          <circle
            cx="4.5"
            cy="4.5"
            r="4.5"
            transform="matrix(-1 0 0 1 9 0)"
            fill="white"
          />
          <circle
            cx="3.5"
            cy="3.5"
            r="3.5"
            transform="matrix(-1 0 0 1 34 1)"
            fill="white"
          />
          <circle
            cx="2.5"
            cy="2.5"
            r="2.5"
            transform="matrix(-1 0 0 1 55 2)"
            fill="white"
          />
          <circle
            cx="2.5"
            cy="2.5"
            r="2.5"
            transform="matrix(-1 0 0 1 75 2)"
            fill="white"
          />
        </svg>
        <h3 class="roadmap__item--title">Oya touches ground</h3>
        <p class="roadmap__item--text">
          In the heart of the Catskills, acquisition of the first Oya location
          of 200+ acres. Renovations of the landscape and the existing house
          began, priming the property for an Oya transformation.
        </p>
        <picture class="roadmap__item--img">
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/roadmap/img1@mob.webp   1x,
              ./images/roadmap/img1@mob2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/roadmap/img1@mob.jpg   1x,
              ./images/roadmap/img1@mob2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/roadmap/img1@tab.webp   1x,
              ./images/roadmap/img1@tab2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/roadmap/img1@tab.jpg   1x,
              ./images/roadmap/img1@tab2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/roadmap/img1@desk.webp   1x,
              ./images/roadmap/img1@desk2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/roadmap/img1@desk.jpg   1x,
              ./images/roadmap/img1@desk2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./images/roadmap/img1@desk.jpg"
            alt="waves"
            width="380"
            height="300"
            loading="lazy"
          />
        </picture>
        <svg
          class="roadmap__item--line"
          width="30"
          height="50"
          viewBox="0 0 30 50"
          fill="none"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M16 25L16 45H15H14L14 25L14 5H15H16L16 25Z"
            fill="white"
          />
        </svg>
      </li>

      <!-- 2 card -->
      <li class="roadmap__item">
        <p class="roadmap__item--date">Q1 2022</p>
        <svg class="roadmap__item--dots" width="75" height="9" viewBox="0 0 75 9" fill="none">
			<circle cx="4.5" cy="4.5" r="4.5" transform="matrix(-1 0 0 1 9 0)" fill="white"/>
			<circle cx="3.5" cy="3.5" r="3.5" transform="matrix(-1 0 0 1 34 1)" fill="white"/>
			<circle cx="2.5" cy="2.5" r="2.5" transform="matrix(-1 0 0 1 55 2)" fill="white"/>
			<circle cx="2.5" cy="2.5" r="2.5" transform="matrix(-1 0 0 1 75 2)" fill="white"/>
			</svg>
        <h3 class="roadmap__item--title">Oya heads South</h3>
        <p class="roadmap__item--text">
          Oya travels to Virginia and gets another almost 200 acres of secluded
          beautiful land. She begins dreaming of the potential that the
          environment offers.
        </p>
        <picture class="roadmap__item--img">
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/roadmap/img2@mob.webp   1x,
              ./images/roadmap/img2@mob2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/roadmap/img2@mob.jpg   1x,
              ./images/roadmap/img2@mob2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/roadmap/img2@tab.webp   1x,
              ./images/roadmap/img2@tab2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/roadmap/img2@tab.jpg   1x,
              ./images/roadmap/img2@tab2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/roadmap/img2@desk.webp   1x,
              ./images/roadmap/img2@desk2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/roadmap/img2@desk.jpg   1x,
              ./images/roadmap/img2@desk2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./images/roadmap/img2@desk.jpg"
            alt="waves"
            width="380"
            height="300"
            loading="lazy"
          />
        </picture>
        <svg
          class="roadmap__item--line"
          width="30"
          height="50"
          viewBox="0 0 30 50"
          fill="none"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M16 25L16 45H15H14L14 25L14 5H15H16L16 25Z"
            fill="white"
          />
        </svg>
      </li>

      <!-- 3 card -->
      <li class="roadmap__item">
        <p class="roadmap__item--date">Q2 2022</p>
        <svg class="roadmap__item--dots" width="75" height="9" viewBox="0 0 75 9" fill="none">
			<circle cx="4.5" cy="4.5" r="4.5" transform="matrix(-1 0 0 1 9 0)" fill="white"/>
			<circle cx="3.5" cy="3.5" r="3.5" transform="matrix(-1 0 0 1 34 1)" fill="white"/>
			<circle cx="2.5" cy="2.5" r="2.5" transform="matrix(-1 0 0 1 55 2)" fill="white"/>
			<circle cx="2.5" cy="2.5" r="2.5" transform="matrix(-1 0 0 1 75 2)" fill="white"/>
			</svg>
        <h3 class="roadmap__item--title">Oya summons the artists</h3>
        <p class="roadmap__item--text">
          Oya’s team of world renowned natural designers and architects have
          designed special cabins for each location that integrate into the
          environment plus an ancient trail of traditional structures for
          healing rituals.
        </p>
        <svg
          class="roadmap__item--line"
          width="30"
          height="50"
          viewBox="0 0 30 50"
          fill="none"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M16 25L16 45H15H14L14 25L14 5H15H16L16 25Z"
            fill="white"
          />
        </svg>
      </li>

      <!-- 4 card -->
      <li class="roadmap__item">
        <p class="roadmap__item--date">Q2 2022</p>
        <svg class="roadmap__item--dots" width="75" height="9" viewBox="0 0 75 9" fill="none">
			<circle cx="4.5" cy="4.5" r="4.5" transform="matrix(-1 0 0 1 9 0)" fill="white"/>
			<circle cx="3.5" cy="3.5" r="3.5" transform="matrix(-1 0 0 1 34 1)" fill="white"/>
			<circle cx="2.5" cy="2.5" r="2.5" transform="matrix(-1 0 0 1 55 2)" fill="white"/>
			<circle cx="2.5" cy="2.5" r="2.5" transform="matrix(-1 0 0 1 75 2)" fill="white"/>
			</svg>
        </svg>
        <h3 class="roadmap__item--title">Oya’s Renewal:</h3>
        <p class="roadmap__item--text">
          Renovations on the Virginia mansion and community center begins.
        </p>
        <picture class="roadmap__item--img">
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/roadmap/img3@mob.webp   1x,
              ./images/roadmap/img3@mob2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/roadmap/img3@mob.jpg   1x,
              ./images/roadmap/img3@mob2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/roadmap/img3@tab.webp   1x,
              ./images/roadmap/img3@tab2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/roadmap/img3@tab.jpg   1x,
              ./images/roadmap/img3@tab2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/roadmap/img3@desk.webp   1x,
              ./images/roadmap/img3@desk2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/roadmap/img3@desk.jpg   1x,
              ./images/roadmap/img3@desk2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./images/roadmap/img3@desk.jpg"
            alt="hotel"
            width="380"
            height="300"
            loading="lazy"
          />
        </picture>
        <svg
          class="roadmap__item--line"
          width="30"
          height="50"
          viewBox="0 0 30 50"
          fill="none"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M16 25L16 45H15H14L14 25L14 5H15H16L16 25Z"
            fill="white"
          />
        </svg>
      </li>

      <!-- 5 card -->
      <li class="roadmap__item">
        <p class="roadmap__item--date">Q3 2022</p>
        <svg class="roadmap__item--dots" width="75" height="9" viewBox="0 0 75 9" fill="none">
			<circle cx="4.5" cy="4.5" r="4.5" transform="matrix(-1 0 0 1 9 0)" fill="white"/>
			<circle cx="3.5" cy="3.5" r="3.5" transform="matrix(-1 0 0 1 34 1)" fill="white"/>
			<circle cx="2.5" cy="2.5" r="2.5" transform="matrix(-1 0 0 1 55 2)" fill="white"/>
			<circle cx="2.5" cy="2.5" r="2.5" transform="matrix(-1 0 0 1 75 2)" fill="white"/>
			</svg>
        <h3 class="roadmap__item--title">Oya blesses the earth:</h3>
        <p class="roadmap__item--text">
          Preparing the soil, planting trees, gathering of the animals and
          integration of container farming has begun on both properties.
        </p>
        <picture class="roadmap__item--img">
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/roadmap/img4@mob.webp   1x,
              ./images/roadmap/img4@mob2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/roadmap/img4@mob.jpg   1x,
              ./images/roadmap/img4@mob2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/roadmap/img4@tab.webp   1x,
              ./images/roadmap/img4@tab2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/roadmap/img4@tab.jpg   1x,
              ./images/roadmap/img4@tab2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/roadmap/img4@desk.webp   1x,
              ./images/roadmap/img4@desk2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/roadmap/img4@desk.jpg   1x,
              ./images/roadmap/img4@desk2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./images/roadmap/img4@desk.jpg"
            alt="hotel"
            width="380"
            height="300"
            loading="lazy"
          />
        </picture>
        <svg
          class="roadmap__item--line"
          width="30"
          height="50"
          viewBox="0 0 30 50"
          fill="none"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M16 25L16 45H15H14L14 25L14 5H15H16L16 25Z"
            fill="white"
          />
        </svg>
      </li>

      <!-- 6 card -->
      <li class="roadmap__item">
        <p class="roadmap__item--date">Q3 2022</p>
        <svg class="roadmap__item--dots" width="75" height="9" viewBox="0 0 75 9" fill="none">
			<circle cx="4.5" cy="4.5" r="4.5" transform="matrix(-1 0 0 1 9 0)" fill="white"/>
			<circle cx="3.5" cy="3.5" r="3.5" transform="matrix(-1 0 0 1 34 1)" fill="white"/>
			<circle cx="2.5" cy="2.5" r="2.5" transform="matrix(-1 0 0 1 55 2)" fill="white"/>
			<circle cx="2.5" cy="2.5" r="2.5" transform="matrix(-1 0 0 1 75 2)" fill="white"/>
			</svg>
        <h3 class="roadmap__item--title">Oya’s plan for US:</h3>
        <p class="roadmap__item--text">
          The entire layout of the two properties has been designed for optimal
          comfort and connectedness to nature.
        </p>
        <svg
          class="roadmap__item--line"
          width="30"
          height="50"
          viewBox="0 0 30 50"
          fill="none"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M16 25L16 45H15H14L14 25L14 5H15H16L16 25Z"
            fill="white"
          />
        </svg>
      </li>

      <!-- 7 card -->
      <li class="roadmap__item">
        <p class="roadmap__item--date">Q3 2022</p>
        <svg class="roadmap__item--dots" width="75" height="9" viewBox="0 0 75 9" fill="none">
			<circle cx="4.5" cy="4.5" r="4.5" transform="matrix(-1 0 0 1 9 0)" fill="white"/>
			<circle cx="3.5" cy="3.5" r="3.5" transform="matrix(-1 0 0 1 34 1)" fill="white"/>
			<circle cx="2.5" cy="2.5" r="2.5" transform="matrix(-1 0 0 1 55 2)" fill="white"/>
			<circle cx="2.5" cy="2.5" r="2.5" transform="matrix(-1 0 0 1 75 2)" fill="white"/>
			</svg>
        <h3 class="roadmap__item--title">Oya goes island hopping:</h3>
        <p class="roadmap__item--text">
          A turnkey island jungle acreage in the Dominican Republic is acquired
          as Oya steps outside the shores of the US. She thinks of throwing a
          party there and then hops over to Zakynthos island in Greece to
          acquire another piece of paradise on the Mediterranean.
        </p>
        <picture class="roadmap__item--img">
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/roadmap/img5@mob.webp   1x,
              ./images/roadmap/img5@mob2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/roadmap/img5@mob.jpg   1x,
              ./images/roadmap/img5@mob2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/roadmap/img5@tab.webp   1x,
              ./images/roadmap/img5@tab2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/roadmap/img5@tab.jpg   1x,
              ./images/roadmap/img5@tab2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/roadmap/img5@desk.webp   1x,
              ./images/roadmap/img5@desk2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/roadmap/img5@desk.jpg   1x,
              ./images/roadmap/img5@desk2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./images/roadmap/img5@desk.jpg"
            alt="coast"
            width="380"
            height="300"
            loading="lazy"
          />
        </picture>
        <svg
          class="roadmap__item--line"
          width="30"
          height="50"
          viewBox="0 0 30 50"
          fill="none"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M16 25L16 45H15H14L14 25L14 5H15H16L16 25Z"
            fill="white"
          />
        </svg>
      </li>

      <!-- 8 card -->
      <li class="roadmap__item">
        <p class="roadmap__item--date">Q4 2022</p>
        <svg class="roadmap__item--dots" width="75" height="9" viewBox="0 0 75 9" fill="none">
			<circle cx="4.5" cy="4.5" r="4.5" transform="matrix(-1 0 0 1 9 0)" fill="white"/>
			<circle cx="3.5" cy="3.5" r="3.5" transform="matrix(-1 0 0 1 34 1)" fill="white"/>
			<circle cx="2.5" cy="2.5" r="2.5" transform="matrix(-1 0 0 1 55 2)" fill="white"/>
			<circle cx="2.5" cy="2.5" r="2.5" transform="matrix(-1 0 0 1 75 2)" fill="white"/>
			</svg>
        <h3 class="roadmap__item--title">Oya stops by Miami:</h3>
        <p class="roadmap__item--text">
          The release of our OYA NFT Global and Local Memberships at Art Basel
          is the chance for all those interested including utilities such as
          location access, events and workshops plus other goodies. The launch
          will be on selected NFT marketplaces, allowing buyers to get a chance
          to meet Oya in person at one of her locations.
        </p>
        <picture class="roadmap__item--img">
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/roadmap/img6@mob.webp   1x,
              ./images/roadmap/img6@mob2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767.9px)"
            srcset="
              ./images/roadmap/img6@mob.jpg   1x,
              ./images/roadmap/img6@mob2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/roadmap/img6@tab.webp   1x,
              ./images/roadmap/img6@tab2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/roadmap/img6@tab.jpg   1x,
              ./images/roadmap/img6@tab2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/roadmap/img6@desk.webp   1x,
              ./images/roadmap/img6@desk2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/roadmap/img6@desk.jpg   1x,
              ./images/roadmap/img6@desk2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./images/roadmap/img6@desk.jpg"
            alt="hotel"
            width="380"
            height="300"
            loading="lazy"
          />
        </picture>
        <svg
          class="roadmap__item--line"
          width="30"
          height="50"
          viewBox="0 0 30 50"
          fill="none"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M16 25L16 45H15H14L14 25L14 5H15H16L16 25Z"
            fill="white"
          />
        </svg>
      </li>

      <!-- 9 card -->
      <li class="roadmap__item">
        <p class="roadmap__item--date">Q1 2023</p>
        <svg class="roadmap__item--dots" width="75" height="9" viewBox="0 0 75 9" fill="none">
			<circle cx="4.5" cy="4.5" r="4.5" transform="matrix(-1 0 0 1 9 0)" fill="white"/>
			<circle cx="3.5" cy="3.5" r="3.5" transform="matrix(-1 0 0 1 34 1)" fill="white"/>
			<circle cx="2.5" cy="2.5" r="2.5" transform="matrix(-1 0 0 1 55 2)" fill="white"/>
			<circle cx="2.5" cy="2.5" r="2.5" transform="matrix(-1 0 0 1 75 2)" fill="white"/>
			</svg>
        <h3 class="roadmap__item--title">Oya’s Creation:</h3>
        <p class="roadmap__item--text">
          Permits acquired and new construction breaks ground on both Virginia
          and NY properties.
        </p>
        <svg
          class="roadmap__item--line"
          width="30"
          height="50"
          viewBox="0 0 30 50"
          fill="none"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M16 25L16 45H15H14L14 25L14 5H15H16L16 25Z"
            fill="white"
          />
        </svg>
      </li>

      <!-- 10 card -->
      <li class="roadmap__item">
        <p class="roadmap__item--date">Q2 2023</p>
        <svg class="roadmap__item--dots" width="75" height="9" viewBox="0 0 75 9" fill="none">
			<circle cx="4.5" cy="4.5" r="4.5" transform="matrix(-1 0 0 1 9 0)" fill="white"/>
			<circle cx="3.5" cy="3.5" r="3.5" transform="matrix(-1 0 0 1 34 1)" fill="white"/>
			<circle cx="2.5" cy="2.5" r="2.5" transform="matrix(-1 0 0 1 55 2)" fill="white"/>
			<circle cx="2.5" cy="2.5" r="2.5" transform="matrix(-1 0 0 1 75 2)" fill="white"/>
			</svg>
        <h3 class="roadmap__item--title">Oya tests the waters:</h3>
        <p class="roadmap__item--text">
          There will be a soft opening for influencers and NFT members to come
          experience mini retreats with ancient ceremonies, longevity therapies,
          permaculture, embodiment, or foodie workshops.
        </p>
        <svg
          class="roadmap__item--line"
          width="30"
          height="50"
          viewBox="0 0 30 50"
          fill="none"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M16 25L16 45H15H14L14 25L14 5H15H16L16 25Z"
            fill="white"
          />
        </svg>
      </li>

      <!-- 11 card -->
      <li class="roadmap__item">
        <p class="roadmap__item--date">Q4 2023</p>
        <svg class="roadmap__item--dots" width="75" height="9" viewBox="0 0 75 9" fill="none">
			<circle cx="4.5" cy="4.5" r="4.5" transform="matrix(-1 0 0 1 9 0)" fill="white"/>
			<circle cx="3.5" cy="3.5" r="3.5" transform="matrix(-1 0 0 1 34 1)" fill="white"/>
			<circle cx="2.5" cy="2.5" r="2.5" transform="matrix(-1 0 0 1 55 2)" fill="white"/>
			<circle cx="2.5" cy="2.5" r="2.5" transform="matrix(-1 0 0 1 75 2)" fill="white"/>
			</svg>
        <h3 class="roadmap__item--title">Oya’s open arms:</h3>
        <p class="roadmap__item--text">
          We welcome the public to come visit for a weekend or stay as long as
          you’d like.
        </p>
      </li>
    </ul>
  </div>

  <!-- Background Circles -->
  <svg
    class="roadmap__circle--bg circle-1"
    width="1011"
    height="1022"
    viewBox="0 0 1011 1022"
    fill="none"
  >
    <path
      d="M505.286 1020.63C783.796 1020.63 1009.57 792.378 1009.57 510.815C1009.57 229.252 783.796 1 505.286 1C226.777 1 1 229.252 1 510.815C1 792.378 226.777 1020.63 505.286 1020.63Z"
      stroke="white"
      stroke-width="4"
      stroke-miterlimit="10"
    />
  </svg>
  <svg
    class="roadmap__circle--bg circle-2"
    width="1011"
    height="1022"
    viewBox="0 0 1011 1022"
    fill="none"
  >
    <path
      d="M505.286 1020.63C783.796 1020.63 1009.57 792.378 1009.57 510.815C1009.57 229.252 783.796 1 505.286 1C226.777 1 1 229.252 1 510.815C1 792.378 226.777 1020.63 505.286 1020.63Z"
      stroke="white"
      stroke-width="2"
      stroke-miterlimit="10"
    />
  </svg>
</section>
