<section class="section video">
  <div class="container video__wrapper">
    <h2 class="video__title">#FindOYA</h2>

    <picture class="video__img">
      <source
        media="(max-width: 767.9px)"
        srcset="
          ./images/video/video@0.75x.webp 1x,
          ./images/video/video@1.5x.webp  2x
        "
        type="image/webp"
      />
      <source
        media="(max-width: 767.9px)"
        srcset="
          ./images/video/video@0.75x.jpg 1x,
          ./images/video/video@1.5x.jpg  2x
        "
        type="image/jpg"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/video/video@1x.webp   1x,
          ./images/video/video@1.5x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/video/video@1x.jpg   1x,
          ./images/video/video@1.5x.jpg 2x
        "
        type="image/jpg"
      />
      <source
        media="(min-width: 1440px)"
        srcset="
          ./images/video/video@1.5x.webp 1x,
          ./images/video/video@2x.webp   2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 1440px)"
        srcset="
          ./images/video/video@1.5x.jpg 1x,
          ./images/video/video@2x.jpg   2x
        "
        type="image/jpg"
      />
      <img
        src="./images/video/video@1.5x.jpg"
        alt="video"
        width="1200"
        loading="lazy"
      />
    </picture>

    <a
      href="https://youtu.be/7aj4dTJoc0g?si=ruiTLLYcSX5924Vw"
      class="video__link tube"
    >
      <svg width="120" height="120" viewBox="0 0 120 120" fill="none">
        <g filter="url(#filter0_b_263_1277)">
          <circle cx="60" cy="60" r="60" fill="white" fill-opacity="0.6" />
          <circle
            cx="60"
            cy="60"
            r="59.5"
            stroke="white"
            stroke-opacity="0.3"
          />
        </g>
        <path d="M78 60L51 75.5885L51 44.4115L78 60Z" fill="#363A45" />
        <defs>
          <filter
            id="filter0_b_263_1277"
            x="-24"
            y="-24"
            width="168"
            height="168"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feGaussianBlur in="BackgroundImageFix" stdDeviation="12" />
            <feComposite
              in2="SourceAlpha"
              operator="in"
              result="effect1_backgroundBlur_263_1277"
            />
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="effect1_backgroundBlur_263_1277"
              result="shape"
            />
          </filter>
        </defs>
      </svg>
    </a>
  </div>
</section>
