<section class="section whitelists">
  <div class="container whitelists__wrapper">
    <div class="whitelists__texts--wrapper">
      <h2 class="whitelists__title">
        <span>ways to get on the</span><br />WHITELISTS
      </h2>

      <ul class="whitelists__text--list">
        <li class="whitelists__text--item">
          <p>
            Join our Discord community and follow us on all social media
            platforms.
          </p>
        </li>
        <li class="whitelists__text--item">
          <p>Let us know what you're looking forward to with OYA.</p>
        </li>
        <li class="whitelists__text--item">
          <p>
            Don't miss out on exclusive access to our pre-mint of 2,000 NFT
            Membership.
          </p>
        </li>
      </ul>
    </div>

    <!-- Socials -->
    <ul class="whitelists__socials--list">
      <li class="whitelist__socials--item">
        <a href="#" class="whitelists__socials--link" aria-label="to twitter">
          <svg width="40" height="40">
            <use href="../src/icons/sprite.svg#soc-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="whitelist__socials--item">
        <a href="#" class="whitelists__socials--link" aria-label="to discord">
          <svg width="40" height="40">
            <use href="../src/icons/sprite.svg#soc-discord"></use>
          </svg>
        </a>
      </li>
    </ul>

    <!-- Button -->
    <button class="whitelists__btn" aria-label="open Whitelisted">
      Get Whitelisted
    </button>
  </div>
</section>
