.footer {
  width: 100%;

  position: relative;

  background: var(--green-gradient);

  &::before {
    content: '';

    width: 90%;
    height: 2px;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    background-color: var(--opacity-gray-color);
  }
}
