.header {
  width: 100%;

  padding-top: clamp(1.375rem, 1.15rem + 1.13vw, 2.5rem);

  position: absolute;
  top: 0;
  left: 0;
}

// =========== Navigation Menu =============

.header__nav-menu {
  display: none;

  width: 100%;

  padding: clamp(1.375rem, 1.15rem + 1.13vw, 2.5rem)
    clamp(0.938rem, -0.75rem + 8.44vw, 9.375rem);

  display: flex;
  flex-direction: column;

  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  overflow: hidden;

  opacity: 0;

  transition: all 0.5s ease;

  //   ----- Mobile screen ----
  background-image: var(--gray-gradient),
    url('../src/images/backgrounds/hero_bg@mob.webp');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: var(--gray-gradient),
      url('../src/images/backgrounds/hero_bg@mob2x.webp');
  }

  @media screen and (min-width: 768px) {
    background-image: var(--gray-gradient),
      url('../src/images/backgrounds/hero_bg@tab.webp');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: var(--gray-gradient),
        url('../src/images/backgrounds/hero_bg@tab2x.webp');
    }
  }

  @media screen and (min-width: 1440px) {
    background-image: var(--gray-gradient),
      url('../src/images/backgrounds/hero_bg@desk.webp');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: var(--gray-gradient),
        url('../src/images/backgrounds/hero_bg@desk2x.webp');
    }
  }

  &.open-menu {
    display: block;

    z-index: 100;

    opacity: 1;
  }
}

.nav-menu__top {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.header__nav-menu--heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu__logo {
  @media screen and (min-width: 768px) {
    margin-left: 60px;
  }
}

.nav-menu__nav--list {
  margin-top: 40px; // 40 -

  display: flex;
  flex-direction: column;
  gap: clamp(1.25rem, 1.125rem + 0.63vw, 1.875rem) 0; // 20 - 30
}

.nav-menu__nav-link {
  font-family: var(--font-serif);
  font-size: clamp(1.875rem, 1.375rem + 2.5vw, 4.375rem); // 30 - 70
  font-weight: 300;
  color: var(--opacity-light-color);

  transition: color 0.3s ease;

  &.active__nav-link {
    font-weight: 400;
    color: var(--light-color);
  }

  &:hover,
  &:focus-visible {
    color: var(--light-gray-color);
  }
}

.nav-menu__links {
  margin-top: 40px; // 40 -

  display: flex;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    gap: 0 100px;
  }
}

.nav-menu__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-menu__contacts--list,
.nav-menu__socials--list {
  display: flex;
  flex-direction: column;
  gap: 18px 0; // 18 -
}

.nav-menu__contacts--link,
.nav-menu__socials--link,
.nav-menu__whitepaper {
  font-size: clamp(0.938rem, 0.875rem + 0.31vw, 1.25rem); // 15 - 20
  font-weight: 500;
  line-height: 1.4;
  color: var(--opacity-light-color);

  transition: color 0.3s ease;

  &:hover,
  &:focus-visible {
    color: var(--light-gray-color);
  }
}

.nav-menu__whitepaper {
  width: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 12px;
}

.nav-menu__whitepaper--icon {
  fill: currentColor;
}

.nav-menu__footer {
  width: 100%;

  margin-top: 30px;
  padding: 15px 0;

  display: flex;
  justify-content: space-between;

  border-top: 2px solid var(--opacity-light-color);
}

.nav-menu__footer--item {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.4;
  color: var(--opacity-light-color);
  text-transform: uppercase;
}
// =========================================

.header__wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 10;
}

.menu__btn {
  display: flex;
  align-items: center;
  column-gap: 14px;

  fill: var(--light-color);
  stroke: var(--light-color);

  transition: all 0.3s ease;

  @media (hover: hover) {
    &:hover,
    &:focus-visible {
      fill: var(--light-blue-color);
      stroke: var(--light-blue-color);
      color: var(--light-blue-color);
    }
  }

  &:active {
    transform: scale(0.95);
  }
}

.menu__icon {
  width: 24px;
  height: 24px;

  fill: inherit;
  stroke: inherit;
}

.menu__btn-text {
  display: none;

  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.75px;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.header__logo--wrapper {
  display: flex;

  margin-right: -30px;

  flex-direction: column;
  align-items: center;
  row-gap: 12px;

  @media screen and (min-width: 768px) {
    margin-right: -100px;
  }
}

.header__logo {
  width: clamp(5rem, 4.167rem + 3.7vw, 7.5rem);

  fill: var(--light-color);
}

.header__logo--text {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;

    font-size: 7px;
    font-weight: 600;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    color: var(--light-color);
  }
}

.header__wallet--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  padding: 10px 10px;

  background: transparent;

  transition: all 0.3s ease;

  @media screen and (min-width: 768px) {
    padding: 10px 20px;

    background: rgba(255, 255, 255, 0.22);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(11.2px);
    border: 1px solid rgba(255, 255, 255, 0.308);

    @media (hover: hover) {
      &:hover,
      &:focus-visible {
        background: var(--green-light-bg);
      }
    }
  }

  &:active {
    transform: scale(0.95);
  }
}

.header__wallet--icon {
  width: 30px;
  height: 30px;

  fill: var(--light-color);
  stroke: var(--light-color);

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header__wallet--text {
  display: none;

  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: var(--light-color);

  @media screen and (min-width: 768px) {
    display: block;
  }
}
