.collection {
  width: 100%;

  position: relative;

  overflow: hidden;

  background-color: var(--gray-dark-bg);
}

.collection__title {
  text-align: center;
  font-family: var(--font-serif);
  font-size: clamp(3.125rem, 2.25rem + 4.38vw, 7.5rem); // 50 - 120
  font-weight: 300;
}

.collection__text {
  margin-top: 20px;

  text-align: center;
  font-size: clamp(0.75rem, 0.65rem + 0.5vw, 1.25rem); // 12 - 20
  line-height: 1.4;
  color: var(--orange-color);
}

.collection__date {
  text-align: center;
  font-family: var(--font-serif);
  font-size: clamp(1.25rem, 0.95rem + 1.5vw, 2.75rem); // 20 - 44
  line-height: 1.4;
  color: var(--orange-color);
}

.collection__list {
  width: 100%;

  margin-top: 30px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.collection__item {
  width: clamp(3.75rem, 1.071rem + 13.39vw, 7.5rem); // 60 - 120
  height: clamp(3.75rem, 1.071rem + 13.39vw, 7.5rem); // 60 - 120

  background-color: var(--gray-light-bg);

  &.orange-bg {
    background-color: var(--brown-dark-bg);
  }

  &.item-1.active-item {
    animation: bg-item 12s ease infinite;
  }
  &.item-2.active-item {
    animation: bg-item 15s ease infinite;
  }
  &.item-3.active-item {
    animation: bg-item 19s ease infinite;
  }
  &.item-4.active-item {
    animation: bg-item 17s ease infinite;
  }
  &.item-5.active-item {
    animation: bg-item 10s ease infinite;
  }
  &.item-6.active-item {
    animation: bg-item 16s ease infinite;
  }
  &.item-7.active-item {
    animation: bg-item 12s ease infinite;
  }
  &.item-8.active-item {
    animation: bg-item 17s ease infinite;
  }
  &.item-9.active-item {
    animation: bg-item 15.5s ease infinite;
  }
  &.item-10.active-item {
    animation: bg-item 18.5s ease infinite;
  }
  &.item-11.active-item {
    animation: bg-item 8.5s ease infinite;
  }
  &.item-12.active-item {
    animation: bg-item 18s ease infinite;
  }
  &.item-13.active-item {
    animation: bg-item 12s ease infinite;
  }
  &.item-14.active-item {
    animation: bg-item 9s ease infinite;
  }
  &.item-15.active-item {
    animation: bg-item 20s ease infinite;
  }
  &.item-16.active-item {
    animation: bg-item 15s ease infinite;
  }
  &.item-17.active-item {
    animation: bg-item 10s ease infinite;
  }
  &.item-18.active-item {
    animation: bg-item 17s ease infinite;
  }
  &.item-19.active-item {
    animation: bg-item 14s ease infinite;
  }
  &.item-20.active-item {
    animation: bg-item 8s ease infinite;
  }
}

// ========= Animation =========
@keyframes bg-item {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  33% {
    opacity: 1;
    transform: rotateY(0);
  }
  50% {
    opacity: 1;
    transform: rotateY(0);
  }
  100% {
    opacity: 0;
    transform: rotateY(90deg);
  }
}
