.collection {
  display: none;
  width: 100%;

  position: relative;

  overflow: hidden;

  background-color: var(--gray-dark-bg);

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.collection__title {
  text-align: center;
  font-family: var(--font-serif);
  font-size: clamp(3.125rem, 2.25rem + 4.38vw, 7.5rem); // 50 - 120
  font-weight: 300;
}

.collection__text {
  margin-top: 20px;

  text-align: center;
  font-size: clamp(0.75rem, 0.65rem + 0.5vw, 1.25rem); // 12 - 20
  line-height: 1.4;
  color: var(--orange-color);
}

.collection__date {
  text-align: center;
  font-family: var(--font-serif);
  font-size: clamp(1.25rem, 0.95rem + 1.5vw, 2.75rem); // 20 - 44
  line-height: 1.4;
  color: var(--orange-color);
}

.collection__list {
  width: 80%;

  margin: 50px auto 0 auto;

  display: flex;
  justify-content: center;
  gap: 4px;

  perspective: calc(var(--index) * 34);

  & .collection__item:hover {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 10));
  }
}

.collection__item {
  width: calc(var(--index) * 4);
  height: calc(var(--index) * 10);

  background-size: cover;
  background-position: center;
  background-color: #222;

  cursor: pointer;

  filter: brightness(0.3);

  transition: transform 1s var(--transition), filter 2s var(--transition),
    width 1s var(--transition);
  will-change: transform, filter, width;
}

.collection__item::before,
.collection__item::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 100%;
  right: calc(var(--index) * -1);
}

.collection__item::after {
  left: calc(var(--index) * -1);
}

.collection__list .collection__item:active,
.collection__list .collection__item:focus {
  width: 360px;

  margin: 0 10px;

  z-index: 100;

  filter: inherit;

  transform: translateZ(calc(var(--index) * 10));
}

/* ======== Right ======= */
.collection__list .collection__item:hover + * {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 8)) rotateY(35deg);
  z-index: -1;
}

.collection__list .collection__item:hover + * + * {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 6.5)) rotateY(40deg);
  z-index: -2;
}

.collection__list .collection__item:hover + * + * + * {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 3.5)) rotateY(30deg);
  z-index: -3;
}

.collection__list .collection__item:hover + * + * + * + * {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 1)) rotateY(15deg);
  z-index: -4;
}

/* ======== Left ======= */
.collection__list .collection__item:has(+ :hover) {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 8)) rotateY(-35deg);
}

.collection__list .collection__item:has(+ * + :hover) {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 6.5)) rotateY(-40deg);
}

.collection__list .collection__item:has(+ * + * + :hover) {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 3.5)) rotateY(-30deg);
}

.collection__list .collection__item:has(+ * + * + * + :hover) {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 1)) rotateY(-15deg);
}
