.community {
  background-color: var(--green-dark-bg);

  position: relative;

  overflow-x: hidden;

  @media screen and (min-width: 768px) {
    padding-right: 60px;
  }
}

.community__wrapper {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.community__content--list {
  display: flex;
  flex-direction: column;
  gap: 80px 0;

  @media screen and (min-width: 768px) {
    gap: clamp(5rem, 10.42vw, 12.5rem) 0;
  }
}

.community__list {
  display: flex;
  flex-direction: column;
  gap: 60px 0;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0 clamp(3.125rem, -5.208rem + 17.36vw, 15.625rem);
  }
}

@media screen and (min-width: 768px) {
  .community__second-list .second__item-text {
    order: 2;
  }

  .community__second-list .second-item__img {
    width: clamp(21.875rem, 3.542rem + 38.19vw, 49.375rem);

    position: absolute;
    left: 0;
    bottom: 0;

    order: 1;
  }
}

.first__item-text {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    width: clamp(18.75rem, 6.25rem + 26.04vw, 37.5rem);
  }

  & .first__item--title {
    font-family: var(--font-serif);
    font-size: clamp(2.813rem, 1.771rem + 2.17vw, 4.375rem);
    font-weight: 400;
    line-height: 1;
    color: var(--light-smooth-color);
  }

  & .first__item--subtitle {
    margin-left: 50px;

    font-family: var(--font-serif);
    font-size: clamp(3.125rem, 1.458rem + 3.47vw, 5.625rem);
    font-style: italic;
    font-weight: 300;
    line-height: 1;
    color: var(--orange-color);
  }

  & .first__item--text {
    margin-top: clamp(2.5rem, -2.708rem + 10.85vw, 10.313rem);

    font-size: clamp(1.125rem, 0.542rem + 1.22vw, 2rem);
    line-height: 1.4;
    color: var(--light-smooth-color);
  }
}

.second__item-text {
  display: flex;
  flex-direction: column;

  flex-shrink: 0;

  @media screen and (min-width: 768px) {
    width: clamp(18.75rem, 6.25rem + 26.04vw, 37.5rem);
  }

  & .second__item--title {
    font-family: var(--font-serif);
    font-size: clamp(2.813rem, 1.771rem + 2.17vw, 4.375rem);
    font-weight: 400;
    line-height: 1;
    color: var(--light-smooth-color);
  }

  & .second__item--subtitle {
    margin-left: 50px;

    font-family: var(--font-serif);
    font-size: clamp(3.125rem, 1.458rem + 3.47vw, 5.625rem);
    font-style: italic;
    font-weight: 300;
    line-height: 1;
    color: var(--orange-color);
  }

  & .second__item--text {
    font-size: clamp(1.125rem, 0.901rem + 1.12vw, 1.438rem);
    line-height: 1.4;
    color: var(--light-smooth-color);

    padding-left: 40px;

    position: relative;

    @media screen and (min-width: 768px) {
      font-size: clamp(1.125rem, 0.542rem + 1.22vw, 2rem);
    }

    &::before {
      content: '';

      width: 20px;
      height: 1px;
      flex-shrink: 0;

      display: block;

      position: absolute;
      top: 50%;
      left: 0;

      background-color: var(--light-smooth-color);

      @media screen and (min-width: 768px) {
        width: 22px;
      }
    }
  }

  & .item__text--list {
    margin-top: clamp(1.875rem, 1.625rem + 1.25vw, 3.125rem);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px 0;
  }
}

.item__text--item {
  display: flex;
  align-items: center;
  column-gap: clamp(1.25rem, 1.125rem + 0.63vw, 1.875rem);
}

.first__item--img-wrapper {
  width: clamp(16.875rem, 6.584rem + 51.45vw, 31.25rem);
  height: clamp(16.875rem, 6.584rem + 51.45vw, 31.25rem);

  margin: 0 auto;

  position: relative;

  flex-shrink: 0;

  border-radius: 50%;
  background-color: var(--green-dark-bg);

  @media screen and (min-width: 768px) {
    width: clamp(16.875rem, 2.292rem + 30.38vw, 38.75rem);
    height: clamp(16.875rem, 2.292rem + 30.38vw, 38.75rem);
  }
}

.img1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  animation: fade 10s linear infinite;
  will-change: opacity;
}

.img2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  animation: fade2 10s linear infinite;
  will-change: opacity;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.community__decor-text {
  display: none;

  position: absolute;
  top: clamp(20rem, 7.625rem + 25.78vw, 38.563rem);
  left: clamp(26.875rem, -5.208rem + 66.84vw, 75rem);

  font-family: var(--font-serif);
  font-size: clamp(4.375rem, 1.458rem + 6.08vw, 8.75rem);
  font-style: italic;
  font-weight: 300;
  line-height: 1;
  color: var(--light-smooth-color);

  white-space: nowrap;

  opacity: 0.1;

  transform: rotate(90deg);

  @media screen and (min-width: 768px) {
    display: block;
  }
}
