.future {
  width: 100%;
  height: clamp(38.75rem, 35.25rem + 17.5vw, 56.25rem); // 620 - 900

  position: relative;

  background-color: var(--gray-dark-bg);

  overflow: hidden;
}

.future__title {
  padding-top: clamp(3.75rem, 3.25rem + 2.5vw, 6.25rem); // 60 - 100

  font-family: var(--font-serif);
  font-size: clamp(3rem, 2.1rem + 4.5vw, 7.5rem); // 48 - 120
  font-weight: 300;

  & span {
    margin-top: 5px;
    padding-left: 20px;
    font-style: italic;
  }

  &.mob-vers {
    display: block;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &.desk-vers {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }
}

.future__text {
  width: clamp(18.75rem, 17.375rem + 6.88vw, 25.625rem); // 300 - 410

  margin-top: 30px;
  margin-left: clamp(1.875rem, -11.875rem + 68.75vw, 70.625rem); // 30 - 1130
  padding-right: 20px;

  font-size: clamp(1rem, 0.875rem + 0.63vw, 1.625rem); // 16 - 26
  line-height: 1.4;
}

.future__img1 {
  width: clamp(4.375rem, 3rem + 6.88vw, 11.25rem); // 70 - 180

  position: absolute;
  bottom: clamp(31.563rem, 30.313rem + 6.25vw, 37.813rem); // 505 - 605
  right: clamp(3.125rem, 0.75rem + 11.88vw, 15rem); // 50 - 240
}

.future__img2 {
  width: clamp(6.875rem, 6.25rem + 3.13vw, 10rem); // 110 - 160

  position: absolute;
  bottom: clamp(3.75rem, 3.125rem + 3.13vw, 6.875rem); // 60 - 110
  left: clamp(3.438rem, -1.625rem + 25.31vw, 28.75rem); // 55 - 460
}
