.hero {
  width: 100%;
  min-height: 100vh;

  padding: 240px 0 220px 0;

  position: absolute;
  top: 0;
  left: 0;

  background-color: var(--green-dark-bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  //   ----- Mobile screen ----
  background-image: url('../src/images/backgrounds/hero_bg@mob.webp');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../src/images/backgrounds/hero_bg@mob2x.webp');
  }

  @media screen and (min-width: 768px) {
    background-image: url('../src/images/backgrounds/hero_bg@tab.webp');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../src/images/backgrounds/hero_bg@tab2x.webp');
    }
  }

  @media screen and (min-width: 1440px) {
    background-image: url('../src/images/backgrounds/hero_bg@desk.webp');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../src/images/backgrounds/hero_bg@desk2x.webp');
    }
  }
}

.test {
  width: var(--index);
  height: var(--index);

  background-color: #ad1b1b;
}

.hero-heading__title {
  text-align: center;

  font-family: var(--font-serif);
  font-size: clamp(3.75rem, 2.794rem + 3.92vw, 7.5rem);
  font-weight: 300;
  line-height: 1;

  & .hero-heading__accent {
    font-family: var(--font-sans);
  }

  & .hero-heading__italic {
    font-style: italic;
  }

  @media screen and (min-width: 768px) {
    line-height: 1.2;
  }
}

.hero__text {
  width: 280px;

  margin: 24px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  font-size: clamp(0.938rem, 0.89rem + 0.2vw, 1.125rem);
  font-weight: 500;
  line-height: 1.4;

  @media screen and (min-width: 1200px) {
    width: 230px;
  }
}

.hero__text--right {
  @media screen and (min-width: 1200px) {
    position: absolute;
    top: 440px;
    right: clamp(6.25rem, -4.167rem + 13.89vw, 12.5rem);
  }
}

.hero__text--left {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;

    position: absolute;
    bottom: 200px;
    left: clamp(7.5rem, -7.083rem + 19.44vw, 16.25rem);
  }
}

.hero__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  font-size: clamp(0.875rem, 0.716rem + 0.65vw, 1.5rem);
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: var(--dark-gray-color);

  border-radius: 50%;

  &.member {
    width: clamp(6.875rem, 4.645rem + 9.15vw, 15.625rem);
    height: clamp(6.875rem, 4.645rem + 9.15vw, 15.625rem);

    position: absolute;
    top: clamp(5.625rem, 4.191rem + 5.88vw, 11.25rem);
    left: clamp(1.563rem, -2.181rem + 15.36vw, 16.25rem);

    background-color: var(--blue-bg);

    cursor: pointer;
  }

  &.whitelist {
    width: clamp(8.75rem, 7.794rem + 3.92vw, 12.5rem);
    height: clamp(8.75rem, 7.794rem + 3.92vw, 12.5rem);

    position: absolute;
    right: clamp(1.563rem, -1.464rem + 12.42vw, 13.438rem);
    bottom: clamp(2.5rem, 0.031rem + 10.13vw, 12.188rem);

    background-color: var(--orange-bg);
  }
}
