.hills {
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;

  overflow: hidden;

  //   ----- Mobile screen ----
  background-image: url('../src/images/backgrounds/earth@mob.webp');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../src/images/backgrounds/earth@mob2x.webp');
  }

  @media screen and (min-width: 768px) {
    background-image: url('../src/images/backgrounds/earth@tab.webp');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../src/images/backgrounds/earth@tab2x.webp');
    }
  }

  @media screen and (min-width: 1440px) {
    background-image: url('../src/images/backgrounds/earth@desk.webp');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../src/images/backgrounds/earth@desk2x.webp');
    }
  }
}
