.newway {
  width: 100%;

  background-color: var(--light-smooth-color);

  position: relative;

  overflow: hidden;

  @media screen and (min-width: 768px) {
    height: clamp(42.5rem, 33.333rem + 19.1vw, 56.25rem); // 680 - 900
  }
}

.newway__heading-title {
  text-align: center;

  font-family: var(--font-serif);
  font-size: 45px;
  font-weight: 400;
  line-height: 1;
  color: var(--dark-green-color);

  & .italic-style {
    font-style: italic;
    font-weight: 300;
  }

  & .sans-style {
    font-family: var(--font-sans);
    font-size: 36px;
    font-weight: 400;
    line-height: 1.2;

    @media screen and (min-width: 768px) {
      font-size: clamp(1.875rem, 1.042rem + 1.74vw, 3.125rem);
    }
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    top: clamp(3.75rem, 1.25rem + 5.21vw, 7.5rem);
    left: clamp(2.5rem, -0.417rem + 6.08vw, 6.875rem);

    z-index: 10;

    font-size: clamp(2.5rem, 1.25rem + 2.6vw, 4.375rem);
  }
}

.newway__content--wrapper {
  position: relative;

  margin-top: 60px;

  @media screen and (min-width: 768px) {
    margin-top: 0;

    position: static;
  }
}

.newway__texts-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  z-index: 10;

  @media screen and (min-width: 768px) {
  }

  & .texts-block__text {
    width: 200px;

    margin-top: 20px;

    text-align: center;
    font-size: 15px;

    line-height: 1.4;
    color: var(--dark-green-color);

    @media screen and (min-width: 768px) {
      width: 250px;
    }
  }
}

.newway__block-title--list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;

  & .block-title__item > h3 {
    font-size: 20px;
    font-weight: 500;
    color: var(--dark-green-color);
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      font-size: clamp(1.25rem, 1rem + 0.52vw, 1.625rem);
    }
  }

  & .newway__block-title--img {
    width: clamp(1.875rem, 1.696rem + 0.89vw, 2.125rem);
    height: clamp(1.875rem, 1.696rem + 0.89vw, 2.125rem);

    @media screen and (min-width: 768px) {
      width: clamp(1.875rem, 1.708rem + 0.35vw, 2.125rem);
      height: clamp(1.875rem, 1.708rem + 0.35vw, 2.125rem);
    }
  }
}

.newway__img {
  width: 180px;
  height: 180px;

  position: absolute;
  top: 150px;
  left: 50%;

  z-index: 10;

  transform: translateX(-50%);
}

.newway__logo {
  width: 150px;

  display: block;

  margin: 420px auto 0 auto;

  fill: var(--dark-blue-color);

  @media screen and (min-width: 768px) {
    width: 230px;

    margin: clamp(15.625rem, 11.042rem + 9.55vw, 22.5rem) auto 0 auto;
  }
}

// =========== Animations ===========

// ========== Images ==========
.first-img {
  @media screen and (max-width: 767px) {
    animation: opacity1 24s linear infinite;
    will-change: opacity;
  }

  @media screen and (min-width: 768px) {
    width: clamp(11.25rem, 3.75rem + 15.63vw, 22.5rem);
    height: clamp(11.25rem, 3.75rem + 15.63vw, 22.5rem);

    top: 120px;
    left: clamp(40.625rem, -1.875rem + 88.54vw, 104.375rem);
  }
}
.second-img {
  @media screen and (max-width: 767px) {
    animation: opacity2 24s linear infinite;
    will-change: opacity;
  }

  @media screen and (min-width: 768px) {
    width: clamp(7.813rem, 3.021rem + 9.98vw, 15rem); // 125 - 240
    height: clamp(7.813rem, 3.021rem + 9.98vw, 15rem); // 125 - 240

    top: 400px;
    left: clamp(9.375rem, 3.333rem + 12.59vw, 18.438rem); // 150 - 295
  }
}
.third-img {
  @media screen and (max-width: 767px) {
    animation: opacity3 24s linear infinite;
    will-change: opacity;
  }

  @media screen and (min-width: 768px) {
    width: clamp(5rem, 2.083rem + 6.08vw, 9.375rem); // 80 - 150
    height: clamp(5rem, 2.083rem + 6.08vw, 9.375rem);

    top: clamp(20rem, 14.167rem + 12.15vw, 28.75rem); // 320 - 420
    left: clamp(36.875rem, -0.208rem + 77.26vw, 92.5rem); // 590 - 1480
  }
}

// ============== Text blocks ==============
.first-block {
  @media screen and (max-width: 767px) {
    animation: opacity1 24s linear infinite;
    will-change: opacity;
  }

  @media screen and (min-width: 768px) {
    width: 150px;
    height: 150px;

    top: clamp(2rem, -1.292rem + 6.86vw, 6.938rem); // 32 - 111
    left: clamp(26.25rem, 3.625rem + 47.14vw, 60.188rem); // 420 - 963
  }
}
.second-block {
  @media screen and (max-width: 767px) {
    animation: opacity2 24s linear infinite;
    will-change: opacity;
  }

  @media screen and (min-width: 768px) {
    width: 150px;
    height: 150px;

    top: clamp(31.25rem, 24.083rem + 14.93vw, 42rem); // 672 - 500
    left: clamp(16.25rem, 6.25rem + 20.83vw, 31.25rem); // 260 - 500
  }
}
.third-block {
  @media screen and (max-width: 767px) {
    animation: opacity3 24s linear infinite;
    will-change: opacity;
  }

  @media screen and (min-width: 768px) {
    width: 150px;
    height: 150px;

    top: clamp(25.875rem, 15.125rem + 22.4vw, 42rem); // 414 - 672
    left: clamp(38.125rem, 5.208rem + 68.58vw, 87.5rem); // 610 - 1400
  }
}

@keyframes opacity1 {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity2 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opacity3 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
