.team {
  width: 100%;

  position: relative;

  background-color: var(--gray-dark-bg);

  overflow: hidden;
}

.team__title {
  margin-left: clamp(1.563rem, 7.81vw, 9.375rem); // 25 - 150

  font-size: clamp(2.813rem, 2.5rem + 1.56vw, 4.375rem); // 45 - 70
  font-weight: 300;
}

.team__list {
  margin-top: clamp(2.188rem, 2rem + 0.94vw, 3.125rem); // 35 - 50
  margin-left: clamp(1.563rem, 7.81vw, 9.375rem); // 25 - 150

  display: flex;
  column-gap: clamp(1.875rem, 1.5rem + 1.88vw, 3.75rem); // 30 - 60
}

.team__item {
  width: clamp(15.625rem, 14.25rem + 6.88vw, 22.5rem); // 250 - 360

  flex-shrink: 0;
}

.team__item--title {
  margin-top: clamp(-0.625rem, -0.588rem + -0.19vw, -0.813rem); // -10 - -13

  font-size: clamp(1.25rem, 1.175rem + 0.38vw, 1.625rem); // 20 - 26
}

.team__item--text {
  margin-top: 12px;

  font-size: clamp(0.75rem, 0.713rem + 0.19vw, 0.938rem); // 12 - 15
  line-height: 1.4;
}
